@import "common/mixins";
@import "common/variables";
@font-face {
    font-family: 'Metropolis Semi';
    src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2'), url('../fonts/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PMN Caecilia';
    src: url('../fonts/Caecilia-Bold.woff2') format('woff2'), url('../fonts/Caecilia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.woff2') format('woff2'), url('../fonts/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@media (min-width:768px) {
    .container {
        width: 750px!Important;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px!Important;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1158px!Important;
    }
}

@media (min-width:1500px) {
    .container-fluid {
        width: 1350px!important;
    }
}

// styles

/*--- Header section -----------*/

#masterhead {
    &:after {
        display: none;
    }
}

.header-top-block {
    width: 100%;
    height: auto;
    float: left;
    background: $primary;
    .top-menu-conatiner {
        background: $primary;
        border-top-left-radius: 35px;
        width: auto;
        float: right;
        @media screen and (min-width: $ipad-portait) and (max-width: $break-large-medium) {
            width: auto;
            padding-left: 30px;
        }
        @media screen and (max-width: $break-small) {
            float: left;
            width: 100%;
            background: transparent;
        }
        .header_section_top {
            display: inline-block;
            vertical-align: middle;
            height: 35px;
            &.top_menu_wraper {
                @media screen and (max-width: $break-small) {
                    display: none;
                }
            }
            #top_menu_header_wrapper {
                margin-left: 0px;
                margin-bottom: 0px;
                li {
                    padding-left: 0px;
                    padding-right: 0px;
                    float: left;
                    a {
                        font-size: 14px;
                        color: $white;
                        font-family: OpenSans;
                        text-transform: capitalize;
                        line-height: 33px;
                        letter-spacing: 1px;
                        padding: 0 10px;
                        &:hover,
                        &:focus {
                            text-decoration: none;
                            color: $white;
                        }
                    }
                }
            }
            &.top-menu-cart {
                margin: 0 0 0 10px;
                @media screen and (max-width: $break-small) {
                    margin: 0;
                }
                .stimulanz_mobilecart {
                    @media screen and (min-width: $ipad-portait) {
                        display: none;
                    }
                    a {
                        margin-right: 10px;
                    }
                }
                a {
                    height: 25px;
                    width: 25px;
                    background: $white;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 25px;
                    margin-top: 4px;
                    padding-right: 2px;
                    @media screen and (max-width: $break-small) {
                        margin-top: 0px;
                        line-height: 80px;
                        height: auto;
                        width: auto;
                        background: transparent;
                    }
                    #cart-contents {
                        color: $primary;
                        @media screen and (max-width: $break-small) {
                            background: $primary;
                            color: $white;
                            font-size: 11px;
                            padding: 5px 6px;
                            border-radius: 50%;
                        }
                    }
                    i {
                        @media screen and (max-width: $break-small) {
                            font-size: 25px;
                        }
                        &:before {
                            color: $primary;
                        }
                    }
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            &.user-status {
                margin: 0!important;
                a {
                    font-size: 14px;
                    color: $white;
                    font-family: OpenSans;
                    text-transform: capitalize;
                    line-height: 33px;
                    letter-spacing: 1px;
                    padding: 0 10px;
                    @media screen and (max-width: $break-small) {
                        color: $primary;
                        font-size: 23px;
                        line-height: 70px;
                    }
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}

.header-bottom-block {
    width: 100%;
    height: auto;
    float: left;
    background: #FFFFFF;
    .container-fluid {
        position: static!important;
    }
    .logo-navcontainer {
        display: flex;
        justify-content: space-between;
        &:before {
            display: none;
            ;
        }
    }
    .logo-wrapper {
        width: auto;
        float: left;
        padding: 15px 0;
        .header-one-logo {
            padding-top: 0;
            height: auto;
            display: flex;
            position: relative;
            z-index: 999;
            @media screen and (max-width: $break-small) {
                height: 70px;
            }
            a {
                display: block;
                max-height: 80px;
                @media screen and (max-width: $break-small) {
                    max-height: 70px;
                    height: 60px;
                    width: 60px;
                }
                img {
                    width: 310px;
                    height: auto;
                    margin-top: -30px;
                }
            }
        }
    }
    /* navigation block */
    .nav-outer {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        .mega-menu-wrap {
            display: flex;
            justify-content: space-between;
        }
        .mega-menu {
            display: flex;
            justify-content: space-between;
        }
        >ul {
            width: auto;
            float: left;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            >li {
                float: left;
                list-style: none;
                display: flex;
                align-items: center;
                a {
                    height: auto;
                    float: left;
                    font-size: 18px;
                    padding: 0 24px;
                    font-family: 'Metropolis Semi';
                    color: #222;
                    @media screen and (max-width: $break-large) {
                        font-size: 14px;
                        padding: 0 10px;
                    }
                    &:hover {
                        color: #0087D7;
                        text-decoration: none;
                        i.mega-indicator {
                            transform: rotate(180deg);
                        }
                    }
                    i.mega-indicator {
                        width: 8px;
                        height: 5px;
                        background: url(../images/main_navarrow.svg) no-repeat center center;
                        background-size: 8px 5px;
                        float: right;
                        position: relative;
                        top: 10px;
                        left: 5px;
                        @media screen and (max-width: $break-large) {
                            top: 7px;
                        }
                    }
                }
                &:hover {
                    .mega-outercontainer {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        /* mega menu */
        .mega-outercontainer {
            width: 100%;
            height: auto;
            position: absolute;
            top: 125%;
            background: #f1f9fc;
            left: 0;
            padding: 50px 0 80px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;
            h2 {
                width: 100%;
                float: left;
                color: #003563;
                font-size: 38px;
                line-height: 42px;
                font-family: CaeciliaRoman;
                font-weight: bold;
                @media screen and (max-width: $break-large) {
                    font-size: 32px;
                }
            }
            h4 {
                width: 100%;
                float: left;
                color: #003563;
                font-size: 21px;
                line-height: 42px;
                font-family: 'Metropolis Semi';
            }
            ul {
                width: 100%;
                height: auto;
                float: left;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    width: 100%;
                    height: auto;
                    float: left;
                    padding: 0;
                    a {
                        width: 100%;
                        height: auto;
                        float: left;
                        padding: 10px 0;
                        color: #153D68;
                        font-family: OpenSansRegular;
                        font-size: 16px;
                        &:hover {
                            color: #0087d7;
                        }
                        i {
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            margin-right: 10px;
                            position: relative;
                            top: 10px;
                            float: left;
                        }
                    }
                }
            }
            .disc-outerblock {
                width: 100%;
                height: auto;
                background: $white;
                max-width: 264px;
                border-radius: 9px;
                padding: 30px 24px;
                -webkit-box-shadow: 0px 0px 32px -4px rgba(0, 53, 99, 0.05);
                -moz-box-shadow: 0px 0px 32px -4px rgba(0, 53, 99, 0.05);
                box-shadow: 0px 0px 32px -4px rgba(0, 53, 99, 0.05);
                h4 {
                    font-family: 'Metropolis Semi';
                    line-height: 27px;
                    ;
                }
                p {
                    font-size: 14px;
                    margin: 0;
                    padding: 0;
                    color: #4F7291;
                }
                img {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .more-btn {
                color: #0087d7;
                font-size: 16px;
                font-family: OpenSansSemiBold;
                margin-top: 40px;
                padding: 0;
                i.more-arrow {
                    width: 11px;
                    height: 11px;
                    background: url(../images/subnav_arrow.svg) no-repeat center center;
                    background-size: 11px 11px;
                    margin-left: 13px;
                    float: right;
                    position: relative;
                    top: 7px;
                    transition: all 0.5s ease;
                }
                &:hover {
                    color: #153D68;
                    i.more-arrow {
                        margin-left: 20px;
                    }
                }
            }
        }
        /* mega menu */
        .headsearch-btn {
            width: auto;
            height: auto;
            background: none;
            color: #153D68;
            border: none;
            font-size: 20px;
            padding: 0 0 0 10px;
            position: relative;
        }
    }
    /* navigation block */
}

#mega-menu-wrap-header-menu,
#mega-menu-wrap-header-menu #mega-menu-header-menu {
    position: static!important;
}

#masterhead .site-header-wrapper .header_section.menu-wrapper .top-menu-wrap {
    height: auto!important;
}

body {
    background: #F1F9FC!important;
}

.main-bannersection {
    background: none!important;
    padding: 50px 0!important;
}

.training_listing_banner_section {
    .hero-content-blockouter {
        width: 100%;
        float: left;
        display: flex!important;
        height: auto!important;
        justify-content: space-between;
        @media screen and (max-width: $break-medium-ipad) {
            flex-direction: column-reverse;
        }
        .main-bannercontent {
            width: 55%!important;
            height: auto;
            max-width: 725px;
            float: left!important;
            position: relative!important;
            padding: 30px 50px 30px 130px;
            @media screen and (max-width: $break-large) {
                padding: 30px 20px;
            }
            @media screen and (max-width: $break-medium-ipad) {
                width: 100%!important;
                max-width: none;
                padding: 30px 0px;
            }
            h1 {
                font-family: 'PMN Caecilia';
                font-size: 42px;
                color: #003563;
                margin-bottom: 0;
            }
            .desc {
                width: 100%!important;
                float: left;
                max-width: 540px;
                padding-top: 30px;
                padding-bottom: 30px;
                @media screen and (max-width: $break-medium-ipad) {
                    max-width: none;
                }
            }
            p {
                font-family: 'Metropolis Semi';
                font-size: 21px;
                line-height: 36px;
                letter-spacing: 0.29px;
                color: #003563;
                @media screen and (max-width: $break-large-medium) {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
            .sttbutton-outercont {
                width: 100%;
                height: auto;
                float: left;
                display: flex;
                .primary-btn-stt {
                    width: auto;
                    height: auto;
                    background: #FE500B;
                    padding: 15px 24px;
                    color: #FFFFFF!important;
                    text-decoration: none!important;
                    border-radius: 7px;
                    font-size: 18px;
                    font-family: 'Metropolis Semi';
                    transition: all .5s ease;
                    &:hover {
                        background: #FFFFFF;
                        color: #FE500B!important;
                    }
                    @media screen and (max-width:$break-large-medium) {
                        font-size: 14px;
                        padding: 15px 10px;
                    }
                }
                .lighter-btn-stt {
                    width: auto;
                    height: auto;
                    background: #FFFFFF;
                    padding: 15px 24px 15px 57px;
                    color: #0087D7!important;
                    text-decoration: none!important;
                    border-radius: 7px;
                    font-size: 18px;
                    margin-left: 24px;
                    font-family: 'Metropolis Semi';
                    -webkit-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
                    -moz-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
                    box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
                    position: relative;
                    transition: all .5s ease;
                    @media screen and (max-width: $break-large-medium) {
                        font-size: 14px;
                        padding: 15px 10px 15px 57px;
                    }
                    &:hover {
                        background: #FFFFFF;
                        color: #FE500B!important;
                        -webkit-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0);
                        -moz-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0);
                        box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0);
                    }
                    i {
                        width: 18px;
                        height: 18px;
                        background: url(../images/location_icon.svg) no-repeat center center;
                        background-size: 18px 18px;
                        position: absolute;
                        left: 24px;
                        top: 18px;
                        ;
                    }
                }
            }
        }
        .image-container {
            width: 45%!important;
            height: auto;
            max-width: 625px;
            float: right!important;
            border-radius: 50%;
            -webkit-border-radius: 355px;
            -webkit-border-top-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius: 355px;
            -moz-border-radius-topright: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-radius: 355px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
            @media screen and (max-width: $break-medium-ipad) {
                width: 100%!important;
                max-width: none;
            }
        }
    }
}

.sstslider-outercontainer {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px 0;
    .slider-innerblock {
        width: 100%;
        height: auto;
        float: left;
        background: #FFFFFF;
        border-radius: 25px;
        -webkit-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
        -moz-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
        box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
        padding: 72px 0 72px 108px;
        @media screen and (max-width: $break-medium-ipad) {
            padding: 72px 20px;
        }
        h2 {
            padding-left: 22px;
        }
        ul {
            width: auto;
            height: auto;
            float: left;
            margin: 40px 0 0 0;
            padding: 0;
            li {
                width: auto;
                height: auto;
                float: left;
                list-style: none;
                padding: 0 12px 0 0;
                a {
                    width: 100%;
                    height: auto;
                    float: left;
                    border-radius: 13px;
                    padding: 28px 36px;
                    color: #003563;
                    &:hover {
                        text-decoration: none;
                    }
                }
                h6 {
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0 0 16px 0;
                    font-family: 'Metropolis Semi';
                    font-size: 18px;
                    letter-spacing: .25px;
                }
                p {
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    letter-spacing: 0.19px;
                }
                .light-arrow {
                    width: 11px;
                    height: 11px;
                    background: url(../images/light_arrow.svg) no-repeat center center;
                    background-size: 11px 11px;
                    margin-left: 13px;
                    float: right;
                    position: relative;
                    top: 7px;
                    transition: all 0.5s ease;
                }
                &.light-block {
                    h6 {
                        color: #FFFFFF;
                    }
                    p {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    h2 {
        font-family: 'PMN Caecilia';
        font-size: 30px;
        line-height: 42px;
        color: #003563;
        margin: 0;
        padding: 0;
    }
}

.fixed-container-wrapper {
    background: none!important;
}

.sstnewslider-container {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 52px;
    .title-outerblock {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2 {
        width: auto;
        float: left;
        font-family: 'PMN Caecilia';
        font-size: 30px;
        line-height: 42px;
        color: #003563;
        margin: 0;
        padding: 30px 15px 36px 130px;
    }
    .read-morebtn {
        width: auto;
        float: right;
        font-size: 16px;
        i.left-arrow {
            width: 11px;
            height: 11px;
            background: url(../images/subnav_arrow.svg) no-repeat center center;
            background-size: 11px 11px;
            margin-left: 13px;
            float: right;
            position: relative;
            top: 7px;
            transition: all 0.5s ease;
        }
    }
    .slider-innermaincont {
        width: 100%;
        height: auto;
        float: left;
        padding-left: 108px;
        @media screen and (max-width: $break-medium-ipad) {
            padding: 0 20px;
        }
        ul {
            width: 100%;
            max-width: none;
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            li {
                max-width: 264px;
                float: left;
                background: #FFFFFF;
                border-radius: 15px;
                overflow: hidden;
                margin-right: 24px;
                position: relative;
            }
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
        .thumb-container {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .slder-contentcontainer {
            width: 100%;
            padding: 27px 28px 52px 24px;
            span {
                width: 100%;
                color: #61B855;
                font-size: 14px;
                font-family: 'Metropolis Semi';
                margin-bottom: 7px;
            }
            h4 {
                font-size: 21px;
                color: #003563;
                font-weight: bold;
                margin-bottom: 14px;
            }
            p {
                font-size: 14px;
                color: #4F7291;
                line-height: 21px;
                margin-bottom: 22px;
            }
            .date-blk {
                width: 100%;
                height: auto;
                background: url(../images/time_icon.svg) no-repeat 24px center;
                background-size: 12px 12px;
                font-size: 14px;
                color: #4F7291;
                line-height: 21px;
                padding-left: 44px;
                padding-right: 28px;
                position: absolute;
                bottom: 31px;
                left: 0;
                .dark-arrow {
                    width: 11px;
                    height: 11px;
                    background: url(../images/subnav_arrow.svg) no-repeat center center;
                    background-size: 11px 11px;
                    margin-left: 13px;
                    float: right;
                    position: relative;
                    top: 7px;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

.advice-blockoutercon {
    width: 100%;
    height: auto;
    float: left;
    padding: 96px 0;
    position: relative;
    overflow: hidden;
    &:before {
        width: 100%;
        height: 100%;
        content: "";
        background: #FFFFFF;
        position: absolute;
        left: 0;
        top: 175px;
    }
    .main-advice-inner {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $break-medium-ipad) {
            flex-direction: column;
        }
        h2 {
            width: 100%;
            float: left;
            font-family: 'PMN Caecilia';
            font-size: 30px;
            line-height: 42px;
            color: #003563;
            margin: 0;
        }
        p {
            width: 100%;
            float: left;
            font-size: 18px;
            line-height: 33px;
            color: #4F7291;
        }
        .left-block {
            width: 100%;
            max-width: 384px;
            @media screen and (max-width: $break-medium-ipad) {
                padding-bottom: 30px;
            }
            .person-details {
                width: 100%;
                height: auto;
                float: left;
                display: flex;
                align-items: center;
                .img-blockouter {
                    width: 97px;
                    height: 97px;
                    min-width: 97px;
                    border-radius: 50%;
                    overflow: hidden;
                    ;
                    background: #6aade4;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                span {
                    width: auto;
                    padding-left: 23px;
                    a {
                        font-size: 18px;
                        color: #4F7291;
                        font-family: 'Metropolis Semi';
                        line-height: 33px;
                        &:hover {
                            text-decoration: none;
                        }
                        &:last-child {
                            border-bottom: #0087D7 solid 1px;
                        }
                    }
                }
            }
        }
        .right-block {
            width: 100%;
            height: auto;
            float: right;
            background: #af197d;
            border-radius: 15px;
            padding: 100px 48px;
            max-width: 432px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            .location-icon {
                width: 36px;
                height: 36px;
                background: url(../images/LocationLarge.svg) no-repeat center center;
                background-size: 36px 36px;
                margin-bottom: 25px;
            }
            h3 {
                font-size: 27px;
                color: #FFFFFF;
                font-family: 'PMN Caecilia';
                margin-bottom: 30px;
            }
            p {
                font-size: 16px;
                line-height: 27px;
                color: #FFFFFF;
                font-family: 'Metropolis Semi';
                margin-bottom: 30px;
            }
            .lighter-btn-stt {
                width: 100%;
                height: auto;
                float: left;
                background: #FFFFFF;
                padding: 15px 24px 15px 57px;
                color: #AF197D!important;
                text-decoration: none!important;
                border-radius: 7px;
                font-size: 18px;
                text-align: center;
                font-family: 'Metropolis Semi';
                -webkit-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
                -moz-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
                box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0.05);
                position: relative;
                transition: all .5s ease;
                &:hover {
                    background: #FE500B;
                    color: #FFFFFF!important;
                    -webkit-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0);
                    -moz-box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0);
                    box-shadow: 0px 12px 24px 0px rgba(0, 53, 99, 0);
                }
            }
        }
    }
}

.bottom-cont-block {
    width: 100%;
    height: auto;
    float: left;
    background: #F1F9FC;
    .main-content-inner {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $break-medium-ipad) {
            flex-direction: column;
        }
        .left-block {
            width: 100%;
            height: auto;
            float: left;
            background: #af197d;
            border-radius: 15px;
            padding: 100px 48px;
            max-width: 432px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .right-block {
            width: 100%;
            max-width: 384px;
        }
    }
}


/* contact section */

.contact {
    background: #f1f9fc!important;
    width: 100%;
    .white_bg_block {
        background: none!important;
        border: none!important;
        box-shadow: none!important;
    }
    .training_content_section .white_bg_block h1.entry-title {
        font-family: 'PMN Caecilia'!important;
        font-size: 42px!important;
        line-height: 54px!important;
        color: #003563!important;
        padding-left: 25px;
        font-family: CaeciliaRoman!important;
    }
    .training_content_section .white_bg_block li .gsection_title {
        font-family: 'Metropolis Semi'!important;
        font-size: 21px!important;
        line-height: 27px!important;
        color: #003563!important;
        padding-left: 25px!important;
        border: none!important;
        padding-top: 20px!important;
        width: 100%;
        float: left;
    }
    .training_content_section .white_bg_block li .gsection_description {
        padding-left: 25px!important;
        font-size: 18px!important;
        line-height: 33px!important;
        letter-spacing: 0.25px;
        color: #003563!important;
    }
    .training_content_section .white_bg_block li .ginput_container.ginput_container_checkbox label {
        padding-left: 12px!important;
        font-size: 14px!important;
        line-height: 18px!important;
        letter-spacing: 0.25px;
        color: #003563!important;
    }
    .training_content_section .white_bg_block li .ginput_container.ginput_container_checkbox label a {
        color: #4F7291!important;
        text-decoration: underline;
        &:hover {
            color: #FE500B!important;
        }
    }
    .training_content_section .white_bg_block li .ginput_container_textarea+.gfield_description {
        padding-left: 25px!important;
        font-size: 14px!important;
        line-height: 18px!important;
        letter-spacing: 0.19px;
        color: #003563!important;
        padding-top: 0!important;
    }
    .training_content_section .white_bg_block .gform_wrapper .gsection {
        border: none!important;
    }
    .gform_wrapper .gform_footer {
        padding: 0px!important;
        margin: 0px!important;
        clear: both;
        width: auto;
        position: absolute;
        bottom: 30px;
        right: 31px;
        &:after {
            width: 21px;
            height: 18px;
            content: "";
            position: absolute;
            right: 18px;
            top: 18px;
            background: url(../images/send_icon.svg) no-repeat center center;
            background-size: 21px 18px;
        }
        &:hover:after {
            background: url(../images/send_icon_active.svg) no-repeat center center;
            background-size: 21px 18px;
        }
        .gform_button.button {
            width: auto;
            height: auto;
            margin: 0!important;
            background: #FE500B!important;
            padding: 9px 53px 9px 24px!important;
            color: #FFFFFF!important;
            text-decoration: none!important;
            border-radius: 7px;
            font-size: 18px!important;
            font-family: 'Metropolis Semi';
            transition: all .5s ease;
            border: none!important;
            border: #FFFFFF solid 1px!important;
            &:hover {
                background: #FFFFFF!important;
                color: #FE500B!important;
                border: #FE500B solid 1px!important;
            }
            @media screen and (max-width:$break-large-medium) {
                font-size: 14px;
                padding: 15px 10px;
            }
        }
    }
    .sub-headerblock {
        margin: 0!important;
        padding-top: 0!important;
    }
    .gfield {
        margin-top: 0!important;
        padding-top: 10px!important;
        label.gfield_label {
            display: none;
        }
        .ginput_container label {
            font-size: 16px!important;
            color: #003563!important;
        }
        label.gfield_label {
            font-size: 16px!important;
            color: #003563!important;
        }
        input {
            border-radius: 7px;
            background: #FFFFFF!important;
            height: 54px;
            font-size: 16px!important;
            border: rgba(79, 114, 145, 0.25) solid 1px;
            color: #003563!important;
            margin-top: 5px!important;
            padding-left: 25px!important;
            padding-right: 25px!important;
            &::-webkit-input-placeholder {
                color: #003563!important;
            }
            &::-moz-placeholder {
                color: #003563!important;
            }
            &:-ms-input-placeholder {
                color: #003563!important;
            }
            &:-moz-placeholder {
                color: #003563!important;
            }
        }
        textarea {
            border-radius: 7px;
            background: #FFFFFF!important;
            height: 132px!important;
            font-size: 16px!important;
            border: rgba(79, 114, 145, 0.25) solid 1px;
            color: #003563!important;
            margin-top: 5px!important;
            margin-top: 5px!important;
            padding-left: 25px!important;
            padding-right: 25px!important;
            &::-webkit-input-placeholder {
                color: #003563!important;
            }
            &::-moz-placeholder {
                color: #003563!important;
            }
            &:-ms-input-placeholder {
                color: #003563!important;
            }
            &:-moz-placeholder {
                color: #003563!important;
            }
        }
    }
    .wpb_column.vc_column_container.vc_col-sm-4 {
        margin-top: -64px;
    }
    .wpb_column.vc_column_container.vc_col-sm-4 .wpb_wrapper {
        background: none!important;
        max-width: 264px;
        float: right;
        .wpb_text_column.wpb_content_element {
            width: 100%;
            float: right;
            background: url(../images/contact_bg.jpg) no-repeat center center;
            background-size: cover;
            color: #FFF!important;
            padding: 30px 25px;
            border-radius: 9px;
            overflow: hidden;
            text-align: center;
            h4 {
                width: 100%;
                float: left;
                margin: 0;
                padding-bottom: 36px;
                text-align: center!important;
            }
            h4 strong {
                color: #FFFFFF;
                font-size: 21px;
                line-height: 27px;
                font-family: 'Metropolis Semi'!important;
                text-align: center!important;
                margin: 0;
                padding: 0;
            }
            p {
                width: 100%;
                float: left;
                text-align: center;
                color: #FFFFFF!important;
                font-size: 16px!important;
                font-family: 'Metropolis'!important;
                padding: 10px 0;
                p {
                    padding: 0!important;
                }
            }
            a {
                width: 100%;
                float: left;
                text-align: center;
                color: #FFFFFF!important;
                font-size: 16px!important;
                text-decoration: underline!important;
                font-family: 'Metropolis'!important;
                display: inline-block;
            }
        }
        .wpb_gmaps_widget.wpb_content_element {
            width: 100%;
            float: left;
            margin-top: -20px;
            position: relative;
            z-index: -1;
            .wpb_wrapper {
                padding: 0!important;
            }
            iframe {
                height: 276px!important;
            }
        }
    }
    .gform_wrapper li.gfield.field_description_below+li.gsection {
        margin-top: 0!important;
    }
    .main-checkboxblock input {
        margin-top: 0!important;
    }
}

@media (max-width:992px) {
    .contact .gform_wrapper .gform_footer {
        width: auto;
        position: relative;
        bottom: auto;
        right: 0;
        top: 20px;
    }
    .contact .gform_wrapper .gform_footer:after {
        right: auto;
        left: 135px;
    }
}

@media (max-width:992px) {
    .contact .training_content_section .white_bg_block h1.entry-title {
        font-size: 30px!important;
        padding: 0;
        margin: 0;
    }
    .contact .training_content_section .white_bg_block li .gsection_title {
        padding-left: 0!important;
    }
    .contact .wpb_column.vc_column_container.vc_col-sm-4 {
        margin-top: 40px;
    }
    .contact .wpb_column.vc_column_container.vc_col-sm-4 .wpb_wrapper {
        max-width: none;
        width: 100%!important;
    }
    .contact .vc_column_container>.vc_column-inner {
        padding: 0;
    }
}


/* contact section */


/*footer section*/

#masterfooter.stz-footerouter {
    background: #001F3B!important;
    .footer-head {
        .footer-head-container {
            background: #0087D7!important;
            border-top-right-radius: 0px!important;
            border-bottom-right-radius: 0px!important;
            border-radius: 0px!important;
            padding: 23px 0;
            height: auto!important;
            .top-listblock {
                font-size: 16px!important;
                line-height: 27px!important;
                font-family: 'Metropolis Semi'!important;
            }
            .footer-head-col {
                width: auto!important;
                padding: 0!important;
                display: flex;
                align-items: center;
            }
            .footer-head-col:last-child {
                width: auto;
                padding: 0!important;
            }
            .top-innerblockouter {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .footer-socialoutercont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        border-bottom: #003563 solid 1px;
        padding: 35px 0;
        .title-blkouter {
            font-size: 30px;
            line-height: 42px;
            color: #FFFFFF;
            font-family: CaeciliaRoman !important;
            p {
                margin: 0!important;
                padding: 0!important;
            }
        }
        .footer_below_right.footer_below_social_media li a {
            padding: 6px 0!important;
            margin: 0 5px!important;
            background: #FFFFFF!important;
            i {
                float: none!important;
                display: inline-block;
                color: #00274A;
                font-size: 16px!important;
            }
            &:hover {
                background: #FE500B !important;
                i {
                    color: #FFFFFF !important;
                }
            }
        }
    }
    .footer-above {
        background: none!important;
        padding-bottom: 55px;
        .container {
            background: none!important;
        }
        .footer-col h3 {
            font-size: 21px;
            line-height: 36px;
            color: #FFFFFF;
            font-family: 'Metropolis Semi'!important;
            margin: 30px 0 15px !important;
        }
        .textwidget {
            p {
                color: #FFFFFF;
            }
        }
        .footer-col ul li a {
            width: 100%;
            float: left;
            color: rgba(255, 255, 255, 0.75)!important;
            font-size: 16px!important;
            line-height: 36px!important;
            font-family: 'Metropolis'!important;
            &:hover {
                color: #FE500B !important;
            }
        }
    }
    .first-footerwidget {
        ul {
            width: 100%;
            padding-bottom: 40px;
            float: left;
            li {
                width: 100%;
                float: left;
                padding-left: 30px;
                a {
                    width: auto;
                    float: left;
                    color: #FFFFFF!important;
                    font-size: 16px!important;
                    line-height: 36px!important;
                    position: relative;
                    &:after {
                        width: 100%;
                        height: 1px;
                        content: "";
                        background: #0087D7;
                        position: absolute;
                        left: 0;
                        bottom: 3px;
                    }
                }
                &:first-child {
                    background: url(../images/call_icon.png)no-repeat left 11px;
                    background-size: 18px 13px;
                }
                &:nth-child(2) {
                    background: url(../images/envelope_icon.png)no-repeat left 11px;
                    background-size: 18px 13px;
                }
                &:last-child {
                    background: url(../images/foo_arrow.png)no-repeat left 11px;
                    background-size: 18px 13px;
                }
            }
        }
    }
    .footer-below {
        .footer-below-container {
            padding: 16px 0!important;
            .footer_below_left {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p {
                    font-size: 14px!important;
                    line-height: 30px!important;
                    color: #4F7291!important;
                }
                .bottom_footer_menu {
                    ul {
                        width: 100%;
                        float: left;
                        li {
                            width: auto;
                            float: left;
                            padding-left: 40px;
                            &:before {
                                display: none!important;
                            }
                            a {
                                width: auto;
                                float: left;
                                color: #4F7291!important;
                                font-size: 14px!important;
                                position: relative;
                                &:hover {
                                    color: #FE500B !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .last-footerblock {
        p {
            width: 100%;
            height: auto;
            float: left;
            color: rgba(255, 255, 255, 0.75)!important;
            font-size: 16px!important;
            line-height: 27px!important;
            font-family: 'Metropolis'!important;
            margin-bottom: 35px!important;
            letter-spacing: 0.22px!important;
        }
        .primary-btn-stt {
            width: 100%;
            height: auto;
            float: left;
            background: #FE500B;
            padding: 15px 10px;
            color: #FFFFFF!important;
            text-decoration: none!important;
            border-radius: 7px;
            font-size: 16px;
            font-family: 'Metropolis Semi';
            transition: all .5s ease;
            text-align: center;
            &:hover {
                background: #FFFFFF;
                color: #FE500B!important;
            }
            @media screen and (max-width:$break-large-medium) {
                font-size: 14px;
                padding: 15px 10px;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #masterfooter.stz-footerouter .footer-col.col-md-3 {
        width: 50%!important;
        float: left;
        height: auto!important;
    }
}

@media screen and (max-width: 767px) {
    #masterfooter.stz-footerouter .footer-col.col-md-3 {
        width: 100%!important;
        float: left;
        height: auto!important;
    }
    #masterfooter.stz-footerouter .footer-socialoutercont {
        flex-direction: column;
        padding: 15px 0;
    }
    #masterfooter.stz-footerouter .footer-socialoutercont .title-blkouter {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    #masterfooter.stz-footerouter .footer-below .footer-below-container .footer_below_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #masterfooter.stz-footerouter .footer-below .footer-below-container .footer_below_left .bottom_footer_menu ul li {
        padding: 0 10px;
    }
}


/*footer section*/