/************* Fonts ********************/
@include font-face(OpenSansSemiBold, "../../assets/fonts/Open Sans Semibold");
@include font-face(CaeciliaBold, "../../assets/fonts/PMN Caecilia 75 Bold");
@include font-face(OpenSansRegular, "../../assets/fonts/Open Sans");
@include font-face(OpenSansLight, "../../assets/fonts/Open Sans Light");
@include font-face(CaeciliaRoman, "../../assets/fonts/PMN Caecilia 55 Roman");
@include font-face(OpenSansBold, "../../assets/fonts/Open Sans Bold");

html,body{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: OpenSansRegular;
    background: $white;
    main{
        &.main{
            padding: 0px;
            p + h1, p + h2, p + h3, p + h4, p + h5, p + h6,
            ul +h1, ul +h2, ul +h3, ul +h4, ul +h5, ul +h6,
            ol +h1, ol +h2, ol +h3, ol +h4, ol +h5, ol +h6{
                margin-top: 25px;
            }
        }
    }
    .content{
        &.row{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    .fixed-container-wrapper{
        background: $white;
        padding-top: 25px;
        .row{
            &.column-top-xs{
                .mobile-column{
                    .sharing_block{
                        @media screen and (max-width: $break-small){
                            display: none;
                        }
                    }
                }
                .desktop-column{
                    .orange_bg{
                        @media screen and (max-width: $break-small){
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.home{
        background: $body-bg;
        &.wprmenu_menu-open{
            background: $white;
        }
        .home_banner_section{
            padding-top: 105px;
            @media screen and (max-width: $break-small){
                padding-top: 70px;
            }
        }
    }
    .available_video{
        &.fixed-container-wrapper{
            padding-top: 0px;
            @media screen and (max-width: $break-small){
                padding-top: 25px;
            }
        }
    }
    a{
        color: $primary;
    }
}

/* when responsive menu open in mobile devices - restrict scroll to html page */
body{
    &.wprmenu_menu-open{
        /*position: fixed !important;*/
        overflow: hidden;
    }
}

/* sidebar template container width override */
.sidebar-primary{
    main{
        &.main{
            width: 100%;
            padding: 0px;
        }
    }
}

/* header tags */
h1{
    font-size: 38px;
    line-height: 42px;
    font-family: CaeciliaRoman;
    margin-top: 0px;
    @media screen and (max-width: $break-small){
        font-size: 25px;
        line-height: 33px;
    }
}
h2{
    font-size: 24px;
    line-height: 29px;
    font-family: OpenSansSemiBold;
    margin-top: 0px;
}
h3{
    line-height: 27px;
    font-size: 22px;
    font-family: OpenSansSemiBold;
    margin-top: 0px;
}
h4{
    line-height: 21px;
    font-size: 16px;
    font-family: OpenSansSemiBold;
    margin-top: 0;
}
h5{
    font-size: 14px;
    line-height: 18px;
    font-family: OpenSansSemiBold;
    margin-top: 0px;
}
h6{
    font-size: 12px;
    line-height: 15px;
    font-family: OpenSansSemiBold;
    margin-top: 0px;
}
blockquote{
    color: $primary !important;
    p, div{
        color: $primary !important;
    }
}

/* form elements design */
form{
    p{
        &.form-row{
            margin-bottom: 5px !important;
        }
    }
    label{
        line-height: 22px !important;
        font-size: 13px;
        margin-bottom: 0px;
        font-family: OpenSansSemiBold;
        font-weight: normal;
    }
    textarea, input{
        background: $body-bg !important;
        background-color: $body-bg !important;
        resize: none;
        max-height: 100px;
        font-size: 13px !important;
        border: 1px solid $field-border !important;
        border-radius: 5px;
        padding: 5px 10px !important;
        font-family: OpenSansRegular;
        &:focus{
            box-shadow: none;
        }
        &.error{
            border: 1px solid rgba(255,0,0,0.5);
        }
    }
    input[type="submit"]{
        background: $primary !important;
        border: 1px solid $primary !important;
        transition: all .5s ease;
        background-color: $primary !important;
        color: $white !important;
        font-weight: 400 !important;
        line-height: 35px;
        &:hover{
            background: transparent !important;
            background-color: $white !important;
            color: $primary !important;
        }
        &.woocommerce-Button{
            &.button{
                margin-top: 10px;
            }
        }
        &.orange-btn{
            border: 1px solid $orange !important;
            background: $orange !important;
            &:hover{
                color: $orange !important;
                background: transparent !important;
                color: $orange !important;
            }
        }
    }
    textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
        color: $primary;
        font-family: OpenSansRegular;
    }
    textarea::-moz-placeholder, input::-moz-placeholder{
        color: $primary;
        font-family: OpenSansRegular;
    }
    textarea:-ms-input-placeholder, input:-ms-input-placeholder{ 
        color: $primary;
        font-family: OpenSansRegular;
    }
    textarea:-moz-placeholder, input:-moz-placeholder{
        color: $primary;
        font-family: OpenSansRegular;
    }
    .woocommerce-password-strength{
        font-size: 12px;
    }
}
#wpmem_reg, #wpmem_login{
    form{
        .req{
            color: $red;
            font-size: 14px;
            margin-left: 2px;
        }
        .req-text{
            .req{
                margin-left: 0px;
                margin-right: 0px;
            }
            font-family: OpenSansRegular;
            font-size: 14px;
        }
        input{
            border-radius: 5px !important;
        }
    }
}

/* home page white boxes */
.white_bg_block{
    background: $white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    &.padding-bottom{
        padding: 15px 0 0 0;
        h4{
            padding-left: 0px;
            padding-right: 15px;
            padding-bottom: 10px;
            p{
                margin-bottom: 0px;
                color: $primary;
                line-height: 21px;
                font-size: 16px;
            }
        }
    }
    a{ 
        &:hover,&:focus{
            text-decoration: none;
        }
    }
    .box-top-right-icon{
        position: absolute;
        top: 0;
        right: 0;
        height: 35px;
        width: 70px;
        background: $primary;
        border-bottom-left-radius: 35px;
        text-align: right;
        padding-right: 15px;
        border-top-right-radius: 10px;
        i{
            &:before{
                font-size: 25px;
                color: $white;
                line-height: 35px;
            }
            &.fa-calendar{
                -ms-transform: rotate(-15deg);
                -webkit-transform: rotate(-15deg);
                -moz-transform: rotate(-15deg);
                -o-transform: rotate(-15deg);
                transform: rotate(-15deg);
            }
        }
    }
    h4{
        color: $primary;
        line-height: 21px;
        font-size: 16px;
        font-family: OpenSansSemiBold;
        margin-top: 0;
        margin-bottom: 5px;
        word-wrap: break-word;
    }
    h3{
        color: $dark-gray;
        line-height: 25px;
        font-size: 20px;
        font-family: OpenSansSemiBold;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .box-top-right-icon + a, .box-top-right-icon + .banner_content > a:first-child,
    .blue-rabion + a, .blue-rabion + .banner_content > a:first-child{
        margin-top: 20px;
        width: 100%;
        display: block;
        @media screen and (max-width: $break-medium){
            margin-top: 18px;
            width: 65%;
        }
        @media screen and (max-width: $break-small){
            width: 100%;
        }
    }
    .white_bg_block_container{
        &.equal-block{
            @media screen and (max-width: $break-small){
                min-height: 120px;
                height: auto;
            }
        }
        .block_content{
            position: relative;
            width: 100%;
        }
        h4{
            &.green{
                color: $light-green;
            } 
        }
        .learning_points{
            padding: 10px 0;
            ul{
                list-style: none;
                padding-left: 0px;
                margin-left: 0px;
                -moz-column-count: 2;
                -webkit-column-count: 2;
                column-count: 2;
                @media screen and (max-width: $break-medium){
                    -moz-column-count: 1;
                    -webkit-column-count: 1;
                    column-count: 1;
                }
                li{
                    line-height: 25px;
                    -moz-column-span: initial;
                    -webkit-column-span: initial;
                    column-span: initial;
                    display: -webkit-inline-flex;
                    display: inline-flex;
                    break-inside: avoid-column;
                    -webkit-column-break-inside: avoid;
                    &:before{
                        content: "\f00c";
                        color: $green;
                        font-size: 16px;
                        font-family: fontawesome;
                        min-width: 25px;
                        display: inline-flex;
                    }
                }
            }
        }
    }
    &.banner_block{
        padding: 0 0 15px 0;
        .banner_content{
            padding: 15px 15px 0 15px;
        }
    }
    &.orange_bg{
        background: $orange;
        .box-top-right-icon{
            background: $white;
        }
        h4{
            margin-top: 20px;
            color: $white;
            margin-bottom: 15px;
        }
        .orange-btn{
            color: $orange !important;
            border: 1px solid $white !important;
            background: $white !important;
            display: block;
            @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                display: inline-block;
            }
            &:hover{
                background: transparent !important;
                color: $white !important;
            }
        }
        .training_blog_points{
            ul{
                list-style: none;
                padding-left: 0;
                margin-left: 0;
                li{
                    line-height: 25px;
                    display: flex;
                    &:before{
                        content: "\f00c";
                        color: $white;
                        font-size: 16px;
                        font-family: fontawesome;
                        min-width: 25px;
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                    }
                }
            }
            div{
                span{
                    &:last-child{
                        color: $white;
                    }
                }
            }
        }
    }
    &.green_bg{
        background: $light-green;
        h4{
            color: $white;
        }
        .training_blog_points{
            &.traning_schedule{
                margin-bottom: 0px;
            }
        }
    }
    .training_blog_points{
        span{
            &:first-child{
                color: $white;
                width: 25px;
                display: inline-block;
                vertical-align: top;
                line-height: 24px;
                i{
                    font-size: 18px;
                }
            }
            &:last-child{
                color: $dark-gray;
                font-family: OpenSansRegular;
                width: 85%;
                display: inline-block;
                vertical-align: top;
                line-height: 24px;
                font-size: 15px;
            }
        }
        &.traning_schedule{
            color: $white;
            margin-top: 20px;
            margin-bottom: 15px;
            span{
                &:first-child{
                    line-height: 23px;
                    width: 18px;
                    color: $white;
                    text-align: center;
                    i{
                        font-size: 18px;
                    }
                }
                &:last-child{
                    width: 87%;
                    line-height: 21px;
                    font-size: 11px;
                    padding-left: 3px;
                    color: $white;
                }
            }
        }
    }
    .social_icon {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
        color: $white;
        margin-right: 3px;
        cursor: pointer;
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            text-decoration: none;
            color: $white;
        }
        &.fb{
            background: $fb;
        }
        &.twitter{
            background: $twitter;
        }
        &.gplus{
            background: $gplus;
        }
        &.linkedin{
            background: $linkedin;
        }
        &.mail{
            background: $mail;
        }
    }
}

/* sidebar custom position */
.sidebar-on-banner{
    position: relative;
    width: 100%;
    .white_bg_block{
        @media screen and (min-width: $break-medium-ipad){
            position: absolute;
            width: 100%;
            top: -30px;
        }
    }
}

/* button */
.blue-btn{
    color: $primary;
    border: 1px solid $primary;
    border-radius: 10px;
    background: $white;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 13px;
    line-height: 35px;
    font-family: OpenSansSemiBold;
    display: inline-block;
    padding: 0 12px;
    margin: 5px 0;
    outline: none;
    transition: all 0.5s ease;
    &:hover, &:focus{
        color: $white;
        background: $primary;
        text-decoration: none;
        outline: none;
    }
}
.orange-btn{
    color: $white !important;
    border: 1px solid $orange !important;
    border-radius: 10px;
    background: $orange !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 13px;
    line-height: 35px;
    font-family: OpenSansSemiBold;
    display: inline-block;
    padding: 0 12px !important;
    margin: 5px 0;
    outline: none;
    transition: all 0.5s ease;
    &:hover, &:focus{
        color: $orange !important;
        background: $white !important;
        text-decoration: none;
        outline: none;
    }
}

/* social media general css */
.addtoany_shortcode, .addtoany_content_bottom{
    .addtoany_list{
        a{
            padding: 0 5px 0 0;
            span{
                border-radius: 50% !important;
                padding: 2px;
            }
        }
    }
}

/* 2grid and 3grid block structure */
.training_content_section{
    .choose_training_area{
        float: left;
        width: 100%;
        display: block;
        @media screen and (min-width: $break-xs-small) and (max-width: $break-small){
            max-width: 345px;
            margin: 0 auto;
            float: none;
        }
        .training_block{
            .white_bg_block{
                padding: 15px;
                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                    margin-bottom: 30px;
                }
                &.banner_block{
                    padding: 0 0 15px;
                    margin-bottom: 20px;
                    .banner_image{
                        img{
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                }
                .box-top-right-icon{
                    background: $green;
                    color: $white;
                    text-align: center;
                    padding-right: 0;
                    width: auto;
                    padding: 0 15px;
                    padding-left: 20px;
                }
                h4{
                    width: 100%;
                    margin-top: 5px;
                }
                .training_blog_points{
                    margin: 15px 0;
                    line-height: 23px;
                    &.traning_schedule {
                        margin-bottom: 0;
                        color: $light-gray;
                        span{
                            &:first-child{
                                color: $gray;
                                margin: 0 auto;
                                text-align: center;
                                i{
                                    font-size: 16px;
                                }
                            }
                            &:last-child{
                                color: $gray;
                                padding-left: 5px;
                                line-height: 23px;
                            }
                        }
                        &.blue{
                            span{
                                &:first-child, &:last-child{
                                    color: $primary;
                                }
                                &:last-child{
                                    line-height: 21px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    a{
                        color: $primary;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:first-child{
                padding-left: 0px;
                @media screen and (max-width: $break-small){
                    padding-right: 0px;
                }
            }
            &:nth-child(3n){
                padding-right: 0px;
                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                    padding-left: 15px;
                    padding-right: 15px;
                }
                @media screen and (max-width: $break-small){
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            &:nth-child(2){
                padding-left: 7.5px;
                padding-right: 7.5px;
                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                    padding-left: 15px;
                    padding-right: 0px;
                }
                @media screen and (max-width: $break-small){
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            &:nth-child(3n+1){
                padding-left: 0px;
                @media screen and (max-width: $break-small){
                    padding-right: 0px;
                }
            }
            &:nth-child(3n+2){
                padding-left: 7.5px;
                padding-right: 7.5px;
                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                    padding-left: 15px;
                    padding-right: 0px;
                }
                @media screen and (max-width: $break-small){
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            &:nth-child(odd){
                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                    padding-left: 0px;
                    padding-right: 15px;
                }
                @media screen and (max-width: $break-small){
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
            &:nth-child(even){
                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                    padding-left: 15px;
                    padding-right: 0px;
                }
                @media screen and (max-width: $break-small){
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
        &.two_grid{
            .training_block{
                &:nth-child(odd){
                    padding-left: 0px;
                    padding-right: 15px;
                    @media screen and (max-width: $break-medium){
                        padding-right: 0px;
                    }
                }
                &:nth-child(even){
                    padding-left: 15px;
                    padding-right: 0px;
                    @media screen and (max-width: $break-medium){
                        padding-left: 0px;
                    }
                }
            }
        }
    }
}

/* banner section */
.banner_section{
    position: relative;
    width: 100%;
    height: auto;
    background: $white;
    overflow: hidden;
    .container{
        @media screen and (max-width: $break-small){
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .banner_image{
        width: 100%;
        position: relative;
        .banner_image_text{
            position: absolute;
            left: 0;
            top: 20px;
            color: $primary;
            font-size: 38px;
            font-family: CaeciliaRoman;
            width: 42%;
            line-height: 40px;
            padding-left: 15px;
            @media screen and (max-width: $break-medium){
                width: 68%;
            }
            @media screen and (max-width: $break-small){
/*                left: 15px;
                width: 77%;*/
                display: none;
            }
            span{
                font-family: CaeciliaBold;
            }
            .home_banner_text{
                font-family: CaeciliaRoman;
            }
            .desc{
                color: $primary;
                font-size: 19px;/*16px*/
                font-family: OpenSansLight;
                line-height: 22px;
                width: 41%;
            }
        }
        .author_name{
            position: absolute;
            left: auto;
            right: 20%;
            width: 35%;
            bottom: 20px;
            color: $gray;
            font-size: 12px;
            line-height: 15px;
            text-align: left;
            @media screen and (max-width: $break-medium){
                /*right: 5%;*/
                right: 7%;
            }
            @media screen and (max-width: $break-small){
                display: none;
            }
            .icon{
                margin-right: 5px;
            }
        }
    }
    .banner_image_text_mobile{
        @media screen and (min-width: $ipad-portait){
            display: none;
        }
        padding: 20px 15px 10px 15px;
        color: $primary;
        font-size: 38px;
        font-family: CaeciliaRoman;
        width: 100%;
        line-height: 40px;
        margin: 0 auto;
        text-align: left;
        float: left;
        span{
            font-family: CaeciliaBold;
        }
        .home_banner_text{
            font-family: CaeciliaRoman;
        }
        .desc{
            color: $primary;
            font-size: 16px;
            font-family: OpenSansLight;
            line-height: 22px;
            width: 100%;
        }
        .author_name{
            position: relative;
            width: 100%;
            color: $gray;
            font-size: 12px;
            line-height: 15px;
            text-align: left;
            .icon{
                margin-right: 5px;
            }
            span{
                font-family: OpenSansRegular;
            }
        }
        p,div{
            font-size: 14px;
            font-family: OpenSansLight;
            line-height: 24px;
        }
        h1{
            font-size: 25px;
            line-height: 33px;
        }
    }
    .banner_video{
        width: 100%;
        height: 400px;
        position: relative;
        iframe{
            max-width: 100%;
        }
    }
    &.content_only{
        background: $banner-bg;
        /*height: auto;*/
        height: 250px;
        max-height: 100%;
        padding: 25px 0;
        overflow: hidden;
        /*padding-top: 25px;*/
        @media screen and (max-width: $break-small){
            padding-top: 15px;
            height: auto;
        }
        .banner_color{
            width: 100%;
            height: auto;
            position: relative;
            .row{
                @media screen and (max-width: $break-small){
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .banner_equal{
                    @media screen and (max-width: $break-small){
                        height: auto !important;
                    }
                }
                > div{
                    &:first-child{
                        @media screen and (max-width: $break-small){
                            padding-bottom: 20px;
                            img{
                                margin: 0 auto;
                                text-align: center;
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
            .banner_color_text{
                position: relative;
                left: 0px;
                top: 0px;
                padding-left: 15px;
                color: $primary;
                font-size: 38px;
                font-family: CaeciliaRoman;
                width: 49%;
                line-height: 40px;
                @media screen and (max-width: $break-medium){
                    width: 68%;
                }
                @media screen and (max-width: $break-small){
                    width: 100%;
                    padding-left: 20px;
                }
                .desc{
                    color: $primary;
                    font-size: 16px;
                    font-family: OpenSansLight;
                    line-height: 22px;
                    &.big-title{
                        font-size: 23px;
                        line-height: 26px;
                        padding: 20px 0 30px 0;
                    }
                }
                .author_name{
                    color: $gray;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: left;
                    font-family: OpenSansRegular;
                    .icon{
                        margin-right: 5px;
                    }
                }
                &.full_width{
                    width: 100%;
                }
            }
            .author_name{
                position: relative;
                color: $gray;
                font-size: 12px;
                line-height: 15px;
                text-align: left;
                margin-top: 10px;
                padding-left: 15px;
                @media screen and (max-width: $break-small){
                    padding-left: 20px;
                }
                .icon{
                    margin-right: 5px;
                }
            }
        }
        .banner_video{
            width: 100%;
            height: 100%;
            position: relative;
            .banner_video_container{
                position: absolute;
                /*bottom: -25px;*/
                bottom: 0;
                width: 100%;
                height: inherit;
                overflow: hidden;
                @media screen and (max-width: $break-small){
                    position: relative;
                    bottom: 0px;
                    margin: 0 auto;
                    text-align: center;
                    padding-top: 10px;
                    max-width: 350px;
                    max-height: 300px;
                    overflow: hidden;
                }
                img{
                    @media screen and (max-width: $break-small){
                        margin: 0 auto;
                    }
                }
            }
        }
        &.stimulansz_video{
            .banner_video{
                .banner_video_container{
                    bottom: 20px;
                    height: auto;
                    @media screen and (max-width: $break-small){
                        bottom: 0;
                    }
                }
            }
        }
        &.white_bg{
            background: $white;
        }
        h1{
            line-height: 27px;
            font-size: 22px;
            font-family: OpenSansSemiBold;
        }
    }
    a{
        text-decoration: underline !important;
        color: $primary !important;
        &:hover{
            text-decoration: underline !important;
            color: $primary !important;
        }
    }
}

/* single page content */
.training_content_section{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    .section_title{
        float: left;
        width: 100%;
        > h4{
            margin-top: 10px;
            color: $primary;
            margin-left: 15px;
        }
        .rating_section{
            margin-left: 15px;
            margin-bottom: 20px;
        }
    }
    .white_bg_block{
        padding: 18px;
        &.banner_block{
            padding: 0 0 15px;
            .banner_image{
                img{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
        }
        p{
            display: block;
            color: $dark-gray;
            line-height: 22px;
            margin-bottom: 0px;
        }
        .title{
            line-height: 24px;
            color: $dark-gray;
        }
        .box-top-right-icon{
            /*background:$white;*/
            color: $orange;
            min-width: 80px;
            max-width: 85%;
            font-size: 13px;
            line-height: 33px;
            font-family: OpenSansSemiBold;
            width: auto;
            padding: 0 15px;
            padding-left: 20px;
            text-align: center;
            overflow: hidden;
        }
    }
    .brief_intro{
        word-wrap: break-word;
        h1,h2,h3,h4,h5,h6{
            color: $dark-gray;
        }
        p{
            margin-bottom: 15px;
        }
        h3{
            margin-bottom: 3px;
        }
        p{
            &:blank{
                display: none;
            }
        }
    }
    h2{
        &.archive_post{
            color: $primary;
        }
    }
    .blogs_wrapper{
        &.grid{
            @media screen and (min-width: $break-xs-small) and (max-width: $break-small){
                max-width: 345px;
                margin: 0 auto;
            }
        }
    }
    .blogs_news_section{
        .no-padding-xs{
            @media screen and (max-width: $break-small){
                padding-bottom: 20px;
            }
        }
    }
}

/* rating section */
.rating_section{
    font-size: 18px;
    line-height: 40px;
    color: $light-green;
    font-family: OpenSansSemiBold;
    margin-top: 10px;
    .reviews{
        background: $light-green;
        color: $white;
        font-size: 15px;
        line-height: 40px;
        border-radius: 50%;
        margin-left: 10px;
        /*padding: 8px;*/
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
    }
    .total{
        font-family: OpenSansLight;
        margin-left: 10px;
        font-size: 15px;
        line-height: 40px;
    }
}

/* comment block */
.ask_training_questions{
    float: left;
    width: 100%;
    .comments{
        h2{
            display: none;
        }
        .comment-list{
            float: left;
            width: 100%;
            margin-bottom: 0;
            li{
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid $primary;
                float: left;
                width: 100%;
                ul{
                    list-style: none;
                    float: left;
                    width: 100%;
                    padding-left: 8%;
                    margin-top: 15px;
                    li{
                        &:last-child{
                            border-bottom: 0;
                            padding-bottom: 0px;
                            margin-bottom: 0px;
                        }
                    }
                }
                .user_icon{
                    float: left;
                    width: 8%;
                    display: inline-block;
                    vertical-align: top;
                    @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                        width: 12%;
                    }
                    @media screen and (max-width: $break-small){
                        width: 100%;
                    }
                }
                .comment_data{
                    float: left;
                    width: 92%;
                    display: inline-block;
                    vertical-align: top;
                    @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                        width: 88%;
                    }
                    @media screen and (max-width: $break-small){
                        width: 100%;
                    }
                    .reviewrating{
                        color: $primary;
                        font-size: 18px;
                        font-family: OpenSansSemiBold;
                    }
                    .comment-meta{
                        float: left;
                        width: 100%;
                        .comment-author{
                            display: inline-block;
                            vertical-align: middle;
                            float: left;
                            .says{
                                display: none;
                            }
                            .fn{
                                font-weight: 400;
                                color: $primary;
                                font-size: 12px;
                                display: inline-block;
                                vertical-align: middle;
                                font-style: normal;
                                font-family: OpenSansSemiBold;
                                &:after{
                                    content: '|';
                                    padding-right: 5px;
                                    padding-left: 5px;
                                    font-size: 12px;
                                    font-family: OpenSansSemiBold;
                                }
                            }
                        }
                        .comment-content-stimulzs{
                            display: inline-block;
                            vertical-align: middle;
                            float: left;
                            line-height: 20px;
                            a{
                                color: $gray;
                                font-size: 12px;
                                line-height: 24px;
                                &:hover, &:focus{
                                    color: $primary;
                                }
                            }
                        }
                    }
                    .comment-content{
                        float: left;
                        width: 100%;
                        p{
                            font-size: 13px;
                        }
                        .comment-rating{
                            display: none;
                        }
                    }
                    .reply{
                        float: left;
                        width: 100%;
                        a{
                            font-size: 11px;
                            color: $gray;
                            &:before{
                                content: "\f040";
                                margin-right: 5px;
                                font-family: fontawesome;
                                font-size: 12px;
                            }
                            &:hover, &:focus{
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
        .comment-respond{
            float: left;
            width: 100%;
            h3{
                display: none;
            }
            .comment-form{
                .comment-notes{
                    display: none;
                }
                p{
                    label, span.required{
                        display: none;
                    }
                    label{
                        &.error{
                            margin-top: 2px;
                            font-size: 12px;
                            margin-bottom: 0;
                            color: $red;
                            font-weight: normal;
                            padding-left: 2px;
                        }
                    }   
                }
                >p{
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    &.logged-in-as{
                        color: $primary;
                        a{
                            color: $primary;
                        }
                    }
                }
            }
        }
        article + .comment-respond{
            padding-left: 8%;
            padding-top: 15px;
        }
    }
}

/* filter section */
.filter_wrapper{
    .each_category{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0px;
        }
        h4{
            font-family: OpenSansSemiBold;
            color: $black;
            border-bottom: 1px solid $primary;
            margin-bottom: 10px;
        }
        .checkboxCustom_content{
            margin-bottom: 7px;
            .checkboxCustom{
                width: 12px;
                height: 12px;
                margin: 0;
                background: $white;
                border-radius: 100%;
                position: relative;    
                border: 1px solid $gray;
                margin-top: 4px;
                display: inline-block;
                float: left;
                label{
                    margin-bottom: 0px;
                    &.inner{
                        display: block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        -webkit-transition: all .5s ease;
                        -moz-transition: all .5s ease;
                        -o-transition: all .5s ease;
                        -ms-transition: all .5s ease;
                        transition: all .5s ease;
                        cursor: pointer;
                        position: absolute;
                        top: 1.2px;
                        left: 1px;
                        z-index: 1;
                    }
                }
                input[type=checkbox]{
                    display: none;
                }
                input[type=checkbox]:checked+label.inner {
                    background: $primary;
                }
            }
            .outer{
                margin-left: 18px;
                font-family: OpenSansRegular;
                font-weight: normal;
                color: $gray;
                margin-top: -4px;
                display: block;
                margin-bottom: 0;
                cursor: pointer;
            }
        }
    }
}

/* pagination */
.woocommerce{
    nav{
        &.woocommerce-pagination{
            .page-numbers{
                border: 0px;
                font-family: OpenSansSemiBold;
                li{
                    border-right: 1px solid $gray;
                    &:last-child{
                        border-right: 0px;
                    }
                    span{
                        font-size: 15px;
                        line-height: 18px;
                        padding: 3px 10px;
                        &.current{
                            background: transparent;
                            color: $primary;
                            font-family: OpenSansSemiBold;
                        }
                    }
                    a{
                        font-size: 15px;
                        line-height: 18px;
                        padding: 3px 10px;
                        color: $gray;
                        &:hover{
                            background: transparent;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
.wp-pagenavi{
    float: right;
    margin: 15px 0;
    @media screen and (max-width: $break-small){
        float: none;
        margin: 15px auto;
        text-align: center;
    }
    span{
        font-size: 15px;
        line-height: 18px;
        padding: 3px 10px;
        color: #6d6e71;
        border: 0;
        &.current{
            background: transparent;
            color: $primary;
            font-family: OpenSansSemiBold;
            border-color: $pagging-gray;
        }
        &.pages{
            display: none;
        }
    }
    a{
        font-size: 15px;
        line-height: 18px;
        padding: 3px 6px;
        color: $pagging-gray;
        border: 0;
        font-family: OpenSansSemiBold;
        margin: 0;
        &:hover{
            background: transparent;
            color: $primary;
            text-decoration: none;
            border-color: $pagging-gray;
        }
    }
    span, a{
        border-right: 2px solid $pagging-gray;
        &:last-child{
            border-right: 0;
        }
    }
}

/* bottom pagination */
.stim_shop_bottom_pagination{
    float: right;
    clear: both;
    padding-top: 5px;
    .woocommerce-pagination{
        float: right;
        text-align: right;
    }
}
.paginate_div{
    &.stimulansz_custom_pagination{
        float: right;
        margin: 15px 0;
        @media screen and (max-width: $break-small){
            float: none;
        }
        #pagination-flickr{
            float: right;
            width: 100%;
            text-align: right;
            @media screen and (max-width: $break-small){
                float: none;
                text-align: center;
            }
            li{
                border-right: 1px solid $gray;
                display: inline-block;
                a{
                    border: 0;
                    font-size: 15px;
                    line-height: 18px;
                    padding: 3px 10px;
                    color: $gray;
                    font-family: OpenSansSemiBold;
                    &.current{
                        color: $primary;
                    }
                }
            }
        }
    }
}

/* single page */
.single-post{
    .stiumnzs-featured-image{
        margin: 10px 0;
    }
    .form-submit{
        margin-top: 10px;
    }
}

/* resulted grid */
.resulted-grid{
    width: 100%;
    h2{
        color: $primary;
        padding-left: 15px;
    }
    a{
        &.ajax_add_to_cart{
            background: $primary;
            border: 1px solid $primary;
            transition: all .5s ease;
            background-color: $primary !important;
            color: $white !important;
            font-weight: 400;
        }
        &.added_to_cart{
            background: $primary;
            border: 1px solid $primary;
            transition: all .5s ease;
            background-color: $primary !important;
            color: $white !important;
            font-weight: 400;
            padding: 6px 10px;
            border-radius: 3px;
            display: inline-block;
            vertical-align: top;
            margin-top: 1em;
            margin-right: 0;
        }
        &:hover{
            background: $white;
            background-color: $white !important;
            color: $primary !important;
        }
    }
}

/* sidebar filter spacing */
.filter_wrapper{
    #wpsolr_section_facets{
        h4{
            float: left;
            width: 100%;
        }
        ul{
            margin-bottom: 20px;
        }
    }
}
.training_content_section.product_listing_section{
    .filter_wrapper{
        #wpsolr_section_facets{
            .wpsolr_facet_type{
                display: none;
            }
        }
    }
}

/* header tags in blue color for visual composer blocks */
.stimulansz_vc_blue_header{
    h1,h2,h3,h4,h5,h6{
        color: $primary !important;
    }
}

/* woocommerce add to cart notification message */
.woocommerce-message, .woocommerce-error{
    @media screen and (max-width: $break-small){
        padding-left: 15px;
        padding-right: 15px;
    }
    &:before{
        display: none;
    }
    .container{
        position: relative;
        padding-left: 55px;
        @media screen and (max-width: $break-small){
            padding-left: 30px;
        }
        &:before{
            font-family: WooCommerce;
            content: '\e028';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 15px;
            @media screen and (max-width: $break-small){
                left: 0;
            }
        }
    }
}
.woocommerce-message{
    .container{
        &:before{
            content: '\e015';
            color: #8fae1b;
        }
    }
}
.woocommerce-error{
    .container{
        &:before{
            content: '\e016';
            color: #b81c23;
        }
    }
}

/* General right side orange section vorder radius having video and without it */
.fixed-container-wrapper.available_video .activity_content_section .white_bg_block.orange_bg{
    @media screen and (min-width: $ipad-portait){
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

/* blog and news detail page specific css - client suggestion */
.stimulansz-blog-details{
    .banner_section.content_only h1{
        font-size: 32px;
        line-height: 35px;
    }
    .banner_section.content_only{ 
        background: $white; 
        height: 250px; 
        min-height: 225px; 
        padding: 25px 0; 
        @media screen and (max-width: $break-small){
            height: auto;
        }
    }
/*    .banner_section.content_only .banner_color .banner_color_text .desc{ 
        font-size: 27px; 
        line-height: 35px; 
    }
    img{
        border-radius: 10px;
    }*/
    .banner_section.content_only img{
        float: right;
        max-height: 200px;
        max-width: 100%;
        width: auto;
        @media screen and (max-width: $break-small){
            float: none;
            margin: 0 auto;
        }
    }
}

/* on all overview page description font size change - client suggestion */
.stimulansz-overviewpage .banner_section .banner_image .banner_image_text .desc{ 
    font-size: 19px !important; 
    line-height: 22px !important; 
}

/* training page span last child change font size - client suggestion */
.choose_training_area .white_bg_block .training_blog_points.traning_schedule span:last-child{ 
    font-size: 12px; 
}

/* img tag border radius for shop and landing page - client suggestion */
.landingpage, .single-landingspagina .banner_section.content_only .banner_color{
    img{
        border-radius: 10px;
    }
}

/* H1 tag font size custom for all pages except basic pages - client suggestion */
body.single{
    h1{
        font-size: 32px ;
        line-height: 35px;
    }
    .banner_section.content_only .banner_color img{
        border-radius: 10px;
        max-height: 200px;
        max-width: 100%;
        width: auto;
        float: right;
        @media screen and (max-width: $break-small){
            margin: 0 auto;
            float: none;
        }
    }
}

/* landing page overview pages image setting for banner section */
.single-landingspagina .banner_section.content_only .banner_color img{
    max-height: 200px;
    max-width: 100%;
    width: auto;
    float: right;
    @media screen and (max-width: $break-small){
        margin: 0 auto;
        float: none;
    }
}

/* custom arrangement in orange box to align date in same line */
.training_content_section{
    .white_bg_block{
        &.orange_bg{
            @media screen and (min-width: $break-medium-ipad){
                padding: 15px;
            }
            .training_blog_points{
                &.traning_schedule{
                    span{
                        &:last-child{
                            @media screen and (min-width: $break-medium-ipad){
                                width: 88%;
                            }
                        }
                    }
                }
            }
        }
    } 
}

/* contact person page load more button style */
.stimulansz_loadmore{
    font-size: 13px;
    line-height: 35px;
    padding: 0 12px;
    margin: 5px 0;
    font-family: OpenSansSemiBold;
    display: inline-block;
    background: $white;
    border: 1px solid $primary;
    border-radius: 10px;
    text-align: center;
    color: $primary;
    text-transform: none;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
    &:hover, &:focus{
        color: $white;
        background: $primary;
        text-decoration: none;
        outline: none;
    }
}

/* landingspagina - sidebar layout of email box as like homepage */
.landingspagina{
    .white_bg_block{
        &.sharing_block{
            h3{
                display: none;
            }
            form{
                p{
                    input[type="email"]{
                        border-radius: 8px;
                        border: 1px solid $light-gray !important;
                        height: 28px;
                        font-size: 13px!important;
                        padding: 5px 10px!important;
                        width: 100%;
                        margin: 7px 0;
                        box-shadow: none;
                        outline: none;
                        background: transparent!important;
                        font-family: OpenSansRegular;
                        resize: none;
                        max-height: 100px;
                    }
                    input::-webkit-input-placeholder{
                        color: $gray;
                        font-family: OpenSansRegular;
                    }
                    input::-moz-placeholder{
                        color: $gray;
                        font-family: OpenSansRegular;
                    }
                    input:-ms-input-placeholder{ 
                        color: $gray;
                        font-family: OpenSansRegular;
                    }
                    input:-moz-placeholder{
                        color: $gray;
                        font-family: OpenSansRegular;
                    }
                }
            }
        }
    }
}

/* hide start date and end date from training listing page - client suggestion */
.page-template-template-training-list .choose_training_area .overview_page{
    display: none;
}

/* for homepage - paragraph tag inline with anchor tag */
.home .blogs_news_section .each_block .title p,
.home .blogs_news_section .each_block .title a.stimulansz-home-more-link{
    display: inline;
}
.home .blogs_news_section .each_block .title a.stimulansz-home-more-link{
    margin-left: 5px;
}

/* link on white box block */
.blocklink{
    cursor: pointer;
}

/* news listing author name */
.blog-author{
    margin-left: 7px;
    a{
        &:hover{
            color: $primary;
        }
    }
}
.author{
    &.vcard{
        margin-top: 5px;
    }
}

/* cookie style */
#cookie-message{
    background: $primary;
    color: $white;
    text-align: center;
    #cookie-rules{
        color: $white;
        font-family: OpenSansRegular;
        font-weight: 400;
        font-size: 13px;
        &:hover{
            opacity: 0.6;
        }
    }
    #cookie-btn{
        border-color: $white;
        background: $white;
        color: $primary;
        font-family: OpenSansSemiBold;
        font-size: 13px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        border-radius: 3px;
        display: inline-block;
        &:hover{
            background: transparent;
            color: $white;
        }
    }
}
  .banner_section.content_only .banner_color .author_name .icons {
    width: 16px !important;
    display: inline-block;  
      margin-right: 0px !important;
      margin-bottom: 11px !important;
    
   }