// Glyphicons font path
$icon-font-path:        "../fonts/";
$path-to-image:        "../images/";
$path-to-fonts:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary  : #27ae60;
$body-bg        : #f5f7fa;
$primary        : #0087d7;
$white          : #ffffff;
$black          : #000000;
$green          : #2db45c;
$orange         : #ff7900;
$red            : #ff0000;
$gray           : #6D6E71;
$light-gray     : #e1e1e1;
$dark-gray      : #231F20;
$extra-light-white : #fefefe;
$light-white    : #fcfcfc;
$banner-bg      : #f2f9fd;
$light-green    : #61b855;
$field-border   : #cccccc;
$select-gray    : #bbbbbb;
$pagging-gray   : #aaaaaa;

// Scial media colors
$fb             : #2c6fa4;
$twitter        : #1cbfdf;
$gplus          : #f0564b;
$linkedin       : #0085a7;
$mail           : #61b855;

// Media Querie Variables
$information-phone: "only screen and (max-width : 767px)";
$ipad-portait: 768px;
$break-large-medium: 1199px;
$break-large: 1200px;
$break-medium-ipad: 992px;
$break-medium: 991px;
$break-small: 767px;
$landscape-phone: 550px;
$portait-phone: 549px;
$break-iphone: 400px;
$break-xs-small: 350px;