 
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  
  url('fonts/OpenSans.woff') format('woff'), 
  url('fonts/OpenSans.ttf')  format('truetype'), 
  url('fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* nieuwe homepage styling  */

.banner-btn-2 button {
    padding-left: 0px !important;
        padding-top: 0px !important
    }

    .slick-slider .slick-prev {left:-15!important; top:40%!important}
.slick-slider .slick-next {right:-15px!important;top:40%!important}
    
    .related_permalink {
    border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
  line-height: 19px!important;
  height: 40px;
    }
    
    .banner-btn-2 i.vc_btn3-icon.fas.fa-arrow-circle-right{
    line-height: 4px
    }
    ul#themepages_menu {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
    
    ul#themepages_menu li {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
        display: block;
        padding: 1px 0;
    }
    
    ul#themepages_menu li a {
    color: #000;
    }
    
    ul#themepages_menu li a:hover {
    color: #0087d7;
        text-decoration: underline;
    }
    
    ul#themepages_menu li:before {
      content: "\f054";
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        padding-right : 3px;
            color: #0087d7;
        font-size: 12px
    }
    
    .veel_gezocht_block {
    margin-top: 40px
    }
    
    .inspiratie-post-item {
        padding-bottom: 20px;
    }
    
    .insp-main-title {
    color: #0087d7;
        padding: 15px;
    }
    
    .fwpl-item.insp-category {
    font-weight: 800;
        font-size: 12px;
    }
    
    .fwpl-item.insp-title {
    color: #0087d7;
        font-weight: 1000;
        font-size: 15px;
    }
    .fwpl-row.auteur-datum-row {
    margin: 10px 0;
        font-size: 10px;
    }
    
    .fwpl-item.insp-photo img{
    padding: 5px !important;
        border-radius: 13px !important;
        height: auto;
        width: auto;
    }
    
    
    .activity_content_section .white_bg_block .training_blog_points.traning_schedule {
        margin-top: 25px;
    }
    .page-template-template-search-php .wpsolr_facet_eventstartdate_str{
        display: none;
    }

    /* einde nieuwe homepage styling  */

form input[type=submit].orange-btn {
    background-color: rgb(254,80,11)!important;
}
form input[type=submit].orange-btn:hover{
	color: rgb(254,80,11)!important;
	}

 body { font-family: 'OpenSans' !important;}
.cart-contents:hover {
    text-decoration: none;
}

span.login-name.text-uppercase {
    margin-left: 12px !important;
}
.user-status.header_section_top {
    margin-left: 12px !important;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   /* background-color: rgba(0, 0, 0, 0.56);*/ /* Fallback color */
   /* background-color: rgba(0,0,0,0.9);*/ /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    
    top: 15px;
    right: 35px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
img#img01 {
    width: 50%;
    height: auto;
}
.btn {
  @include border-radius(2px);
}

.btn {
  &.btn-primary {
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

// helpers
.caps { text-transform: uppercase; }

pre.prettyprint {
  padding: 15px !important;
  border: 0 !important;
  /*font-family: consolas;*/
  font-size: 14px;
  background-color: rgb(46, 44, 52) !important;
  @include border-radius(2px !important);

  .callout-demo & {
    max-height: 415px;
  }

  span {
    &.com { color: #5E5E5E; }
    &.pln { color: #395063; }
    &.tag { color: #B5C6DF; }
    &.atv { color: #70B8AF; }
    &.pun, &.opn, &.clo {
      color: #B9947B;
    }
    &.atn { color: #B5A8B8; }
  }
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999 !important;
   background-color: rgba(0, 0, 0, 0.56)
}
.woocommerce-product-gallery__image {
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
}

/****************** 2-7-2018 *******************/
.top-menu-cart.header_section_top {position: relative;}
a.cart-contents {position: absolute;top: -3px;right: -12px;width: 18px !important;height: 18px !important;    border: none;
    line-height: 18px !important;
    text-align: center !important;
    font-size: 10px;
    padding: 0 !important;
    color: #fff;
    background: rgb(254,80,11)!important}
.stimulansz_single_shop_cart button{background-color: #fff;border-color: #fff;transition: all .5s ease;
color: #ff7900;}
.stimulansz_single_shop_cart button.btn-primary:hover, .stimulansz_single_shop_cart button.btn-primary:focus{
border-color: #fff;   color: #fff; background-color: transparent;    transition: all .5s ease;}   
.stimulansz_single_shop_cart .modal-content .modal-header{    border-bottom: none;    padding: 7px 15px;}
.stimulansz_single_shop_cart .modal-content .modal-header button{    background-color: #fff;
border-color: #fff;transition: all .5s ease;color: #000000;opacity: 1;font-size: 31px;top: -7px;}
.stimulansz_single_shop_cart .modal-content .modal-body h4 a{    margin-top: 0;color: #000 !important;margin-bottom: 0;}
.stimulansz_single_shop_cart .modal-content .modal-header{position: relative;}
.stimulansz_single_shop_cart .modal-content .modal-header img{    width: 50px;position: absolute;top: 16px;}
.stimulansz_single_shop_cart .modal-content .modal-body{    padding: 30px 15px 15px;}
.stimulansz_single_shop_cart .modal-content .modal-body h4 a   {    line-height: 21px;font-size: 16px;color: #000 !important;    font-family: OpenSansSemiBold;font-weight: 500;}
.stimulansz_single_shop_cart .modal-content .modal-footer{text-align: center; border-top: none;     padding: 8px 14px 26px;}
.stimulansz_single_shop_cart .modal-content .modal-footer a{    background-color: transparent;color: #0087d7;border-color: #0087d7;padding: 4px 9px;}
.info h3{    color: #0087d7;    font-size: 18px;    margin-bottom: 12px;}
.info a, .info p, .info .white_bg_block_container h4 a{  font-size: 13px;    display: inline-block !important;color: #000 !important;
font-family: OpenSansSemiBold;} 
.underline{ text-decoration: underline;}
span.xoo-cp-icon-check.xoo-cp-added {display: none;}

/************13-7-2018*******/
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    /*font-family: Arial, Helvetica, sans-serif;*/
    vertical-align: top;
}
.cart-contents-count{font-weight: normal;border-radius: 10px;/*font-family: Arial, Helvetica, sans-serif;*/vertical-align: top;position: absolute;top: -1px;right: -1px;width: 18px !important;height: 18px !important; background: rgb(254,80,11)!important;line-height: 18px !important;text-align: center !important;font-size: 10px;padding: 0 !important;    color: white;}



.popup-content .xoo-cp-pimg img{width: 70px;position: absolute;top: 16px; display: none;}
.popup-content  .xoo-cp-ptitle a{    color: #000;font-size: 16px;font-weight: 500; text-transform: uppercase;font-family: OpenSansSemiBold;}
.popup-content  .xoo-cp-ptitle p{    color: #000;    font-size: 16px;    font-weight: 500;    font-family: OpenSansSemiBold;} 
.popup-content  .xoo-cp-ptitle a:hover{text-decoration: none;}
.popup-content td.xoo-cp-pimg {margin-top: 8px;    width: 7%;}
.popup-content  .xoo-cp-ptitle {text-align: center !important;}

/********** 13-7-2018*************/

.popup-content .xcp-btn{background-color: transparent;font-size: 14px;margin-top: 24px;
 text-transform: inherit !important;
border-radius: 5px;border: 1px solid #007fd5; color: #007fd5 !important;}




.popup-content .xcp-btn:hover{text-decoration: none}
.popup-content .xoo-cp-close.xoo-cp-icon-cross{/*font-size: 23px;position: absolute;right: 14px;top: 5px;    background-color: transparent;border-radius: 50%;cursor: pointer;color: gray;;*/
color: gray;
opacity: 1;
line-height: 19px;
font-size: 43px;
font-weight: bold;
position: absolute;
right: 8px;
top: 15px;
background: transparent;
        cursor: pointer;
}
.popup-content .xoo-cp-close.xoo-cp-icon-cross:before{   content: "\f00d" !important;font-family: FontAwesome;}
.popup-content .xoo-cp-btns{margin:27px 20px 10px;}


#demo-3 .text{color: #000000;font-size: 15px;padding: 0;position: relative;bottom: -9px;width: 100%;text-align: center;}
#demo-3 .prev, #demo-3 .next{  top: 45% !important;}
#demo-3  .prev{left: 0}
#demo-3 .prev:hover, .next:hover{    color: #0087d7 !important;}
#demo-3 .woocommerce-product-gallery__image a img{margin-bottom: 15px;}
#demo-3 .close{     font-size: 25px !important ;
    line-height: 28px;
    margin-right: 0; color: gray;  opacity: 1;  }
#demo-3 .close:hover, #demo-3 .close:focus{color: gray}
#demo-3 .modal-header{    border-bottom: none;}


.user-status.header_section_top a{position: relative;   top: 0;  }



/******************13-7-2018**********************/

/******* start 1-8-2018*****/
.popup-content {   max-width: 480px; border-radius:10px !important;     background: #fff !important;    POSITION: absolute;
    TOP: 17%;
    margin: 0px auto;
    right: 0;
    left: 0;}
/******* start 1-8-2018*****/
.xoo-cp-pimg{display: none;}
.woocommerce a.added_to_cart{color: #fff !important;  transition: all 500ms ease;}
.woocommerce a.added_to_cart:hover{color: #0087d7 !important; transition: all 500ms ease;}
.single-product .responsive-full.wp-post-image{    width: 100%;}

.single-product .modal-header{     border-bottom: none;}
.login-popup-container .close-login-popup{    color: gray !important;}
.login-popup-container .login-popup-block{    border-radius: 10px;}
.close{color: gray; opacity: 1}
 .close:hover{color: gray;  opacity: 1}
 .login-popup-container .login-popup-block{     margin-top: 0 !important;     top: 17%;  min-height:320px !important;}
 .login-popup-container .login-content{      margin-top: 43px  !important;  overflow: hidden;}
#demo-3 .modal-body{    min-height: 282px;     padding: 5px 15px 15px;}
/*#demo-3{background-color: rgba(0,0,0,0.6);}*/


#demo-2 .modal-content{    border: none;     border-radius: 10px;   min-height: 371px;
    overflow: hidden;}


* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
#demo-3  .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; background-color: #fff;
}

/* Position the "next button" to the right */
#demo-3  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#demo-3  .prev:hover, #demo-3  .next:hover {
  background-color: #fff;
      text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/
/*
.login-popup-container{    background-color: rgba(0, 0, 0, 0.94) !important;}*/


#demo-3 .modal-content {
    border-radius: 10px; min-height: 371px;
}
h1, .#masterfooter .footer-title{font-family: OpenSansSemiBold !important; color: #007fd5 !important;}




/************1-8-2018**********************/

#login-popup .login-popup-block .close-login-popup span{    color: gray;
    opacity: 1;    line-height: 13px;
    font-size: 40px;
    font-weight: bold;}

#login-popup{top: 0}
#demo-2{    z-index: 9999 !important;
padding-top: 0 !important;}
#demo-2 .modal-dialog{      top: 17% !important;
min-height: 371px !important;
margin-top: 0 !important;}
#demo-3   {    z-index: 9999;    padding-top: 0 !important;}
#demo-3 .modal-dialog{top: 17% !important;    margin-top: 0 !important;}   


/************2-8-2018********************/

 

@-moz-document url-prefix() {
.learning_points ul li {
clear: both; display: inline-block !important;
}
}
/*.sharing_block.info {
    
    box-shadow: none;
    padding: 0 !important;
}*/

/***************4-8-2018*********************/
#demo-2 .modal-header .close {
    margin-top: 0;font-size: 25px !important;
    margin-right: 0;
}
#demo-2 .modal-header, #demo-3 .modal-header{    padding: 15px 15px 4px;}

.modal-content {
    box-shadow: none;
}
.popup-content .xoo-cp-close.xoo-cp-icon-cross:before{display: none;}
#demo-2.fade{    -webkit-animation-name: inherit !important;}
.modal-content{border: none}
.xoo-cp-container{    box-shadow: none;}
#login_popup {
    min-height: 455px !important;
    height: 455px !important;
}
.xoo-cp-opac{    opacity: 0.28;}
#login-popup{    background-color: rgba(0, 0, 0, 0.28);}

.mySlides.active{display:block;    background-color: transparent !important;}
 
    .login-popup-container .button{    width: 100px !important;}
    
 #demo-2 .modal-body,  #demo-3 .modal-body{    width: 86%;
    margin: 0px auto}   
    
    

#demo-2 .modal-header{    padding: 7px 15px 4px;}
.login-content .login-option{     width: 87% !important;
    margin: 0px auto 12px !important;
    height: auto;
    float: none !important;}

.login-popup-container .login-option{border-radius: 10px;   }
.popup-content{    border: none;}
.login-popup-container .login-popup-block{padding: 10px 10px 10px 10px !important;     width: 527px !important;}

td.xoo-cp-ptitle{    padding-left: 0;}
/*kapil.css*/

.login-popup-container .login-option{border-radius: 10px;   }
.popup-content{    border: none;}
.login-popup-container .login-popup-block{padding: 10px 10px 10px 10px !important;     width: 527px !important;}

td.xoo-cp-ptitle{    padding-left: 0;}

.wdm_ul li .select_opt:focus, .wdm_ul li .select_opt:hover {
    text-decoration: none;
    color: #0087d7;
}
.wdm_ul li .select_opt  {
    color: #6d6e71;
    font-family: OpenSansRegular;
    font-size: 12px;
    line-height: 23px;
}
#wpsolr_section_facets .wpsolr_facet_title {
    margin: 12px 0 10px;
    color: #231f20;
    font-size: 19px;
    font-family: OpenSansRegular; padding-bottom:8px;
}

#masterhead .site-header-wrapper .header_section.menu-wrapper .main-menu-wrap #site-navigation-wrap .menu-header-menu-bar-container ul li a{ color: #231f20 ;
    font-size: 19px;
    font-family: OpenSansRegular; letter-spacing:-0.5px;}
#masterhead .site-header-wrapper .header_section.menu-wrapper .main-menu-wrap #site-navigation-wrap .menu-header-menu-bar-container ul li ul li a{ font-size: 15px; 
color: #231f20 ; font-family: OpenSansRegular;
}
/*** .modal-backdrop{    background-color: rgb(0, 0, 0) !important;} ****/
/**************** Media Query **********************/

@media screen and (max-width: 1024px) {
.col-md-3.col-sm-5.col-xs-12.desktop-column {
    display: block !important;
}
.page-id-122 .banner_section .banner_image_text_mobile h1 {
    width: 60%;
    background: rgba(255,255,255,.7);
        height: 100%;
}
 .page-id-122 .home_banner_section .banner_image {
    height: 350px !important;
}
.page-id-122 .banner_section .banner_image_text_mobile {
width: 100% !important;
position: absolute;
left: 0;
top: 0px;
height: 100%;
text-align: center;}

.page-id-122 .banner_section .banner_image_text_mobile p {
    font-size: 38px;
    font-family: CaeciliaRoman;
    line-height: 42px;
    /*padding: 125px 50px;*/
    text-align: left;
}
.banner_section .banner_image_text_mobile p {
    font-size: 38px;
    font-family: CaeciliaRoman;
    line-height: 42px;
    padding: 0 50px;
    text-align: left;
}
/*this banner text hide commit*/
/*.banner_section .banner_image .banner_image_text{display:none;}*/
.banner_section .banner_image_text_mobile{    padding: 20px 15px 10px;
    color: #0087d7;
    font-size: 38px;
    font-family: CaeciliaRoman;
    width: 100%;
    line-height: 40px;
    margin: 0 auto;
    text-align: left;
    float: left; display:none;
}
}


@media only screen and (max-width: 1024px) and (min-width: 768px)  {  
.user-status.header_section_top{    margin-right: 10px;}
#masterhead .site-header-wrapper .header_section.menu-wrapper .top-menu-wrap .top-menu-conatiner .header_section_top.user-status a i{    margin-top: 26px;}
body .fixed-container-wrapper .row.column-top-xs .desktop-column .orange_bg, body .fixed-container-wrapper .row.column-top-xs .mobile-column .sharing_block{display: block !important}
.col-md-3.col-sm-5.col-xs-12.desktop-column{display: none}
.user-status.header_section_top a{    top: -14px;}
}
@media only screen and (min-width: 768px)  {  
.no-padding{
	padding:0px!important;}
.veel_gezocht_block{
	padding-bottom:0px!important;
	}
	}

@media screen and (max-width: 767px) {
.login-popup-container .login-popup-block{width:90% !important;}
  .login-popup-container{    z-index: 9999;}  
a.cart-contents{top: 17px;    right: -1px;}
#demo-3 .modal-header {padding: 15px 15px 0;}
.user-status.header_section_top a {position: relative;top: 0;right: 11px;}
.fixed-container-wrapper .row.column-top-xs .mobile-column .sharing_block {    display: block !important;}
.col-md-3.col-sm-5.col-xs-12.desktop-column{display: none !important}
#demo-3 .modal-content{min-height: auto;}
#demo-3 .modal-body, #demo-2 .modal-content, #demo-2 .modal-dialog {min-height: auto;}
.login-popup-container .button {float: none;text-align: center; width:100% !important;}
/*.banner_image{ display:none;}*/
.home  .white_bg_block.banner_block .banner_content {
    padding: 36px 15px 12px;
}
.home .breadcrumbs_search_area .top_search{width:100%;}
.home .breadcrumbs_search_area .top_search .banner_search_conatiner{ width:260px; float:right; margin:0 auto;}
.home .breadcrumbs_search_area {padding-top: 25px!important;}

}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  #demo-3 .prev, #demo-3 .next, #demo-3 .text {font-size: 11px}
}
.xoo-cp-atcn.xoo-cp-success {
    display: none;
}

}


/* -#login-popup .blue-btn, .login-popup-container .login-popup-block, #demo-2 .modal-content, #demo-3 .modal-content{    background: #e6e6e6 !important;}  */ 
    
  
/* gform placeholders*/
::-webkit-input-placeholder { /* Chrome */
  color: #1E1F22 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1E1F22 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #1E1F22 !important;
  opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #1E1F22 !important;
  opacity: 1 !important;
}  
     .banner_section.content_only .banner_color .author_name .icon {
    width: 16px !important;
    display: inline-block;  
      margin-right: 0px !important;
      margin-bottom: 11px;
    
   }
    
    
.author_name > span:nth-child(5){    margin-left: 0px;}
span.author_date {
    margin-right: 10px;
}
a.author-name {
    margin-left: 7px;
}
.contact-help.wpb_column.vc_column_container.vc_col-sm-12 {
    margin-bottom: -26px;
}
span.author_dates {
    margin-left: 2px;
}
.icon i{color: gray !important; } 
span.icons.dddd {
    margin-bottom: 11px;
    width: 16px;
    display: inline-block;
    margin-right: 0px;
}
@media only screen and (max-width: 767px) {
.wpsolr_facet_title{    position: relative;}
.wpsolr_facet_title.minusicon:after{  
    content: "\f068";
    font-family:FontAwesome;     
    position: absolute;
    top: 0;
    right: 0;
    
}
.page-id-122 .banner_section .banner_image_text_mobile h1 {
    width: 100% !important;
}
 .wpsolr_facet_title:after{    
     content: "\f068";  
     content: "\f067"; 
     position: absolute;font-family:FontAwesome; 
     top: 0;
     right: 0;   
 }
}
    /* Training Page css */
    #burst-12 {
     background: #ff7900;
    width: 64px;
    height: 64px;
    position:relative;
    text-align: center; border-radius: 5px; right: 28px; bottom: 18px; display: flex; align-items: center; justify-content: center; float:right;
}

#burst-12 span{display: block; color: #fff; font-weight: 600; position: relative; z-index: 9; font-family: 'OpenSans' !important; transform: rotatez(-25deg);

text-align: center; line-height: 15px;}

#burst-12::before {
    transform: rotate(30deg);
}
#burst-12::before, #burst-12::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 64px;
    background: #fa750b; border-radius: 5px;
}

#burst-12::after {
    transform: rotate(60deg);
}

.training_content_section .white_bg_block.orange_bg{background-color: #fda164; margin-top: 0px;}
.single-training .training_content_section .white_bg_block.orange_bg {
    margin-top: -80px !important;
    padding: 0px;
} 
    
.training_content_section .white_bg_block.logo img{width: 100%;}

@media only screen and (max-width: 767px) {

  .training_content_section .white_bg_block.orange_bg{margin-top: 0px;}
  .page-id-122 .banner_section .banner_image_text_mobile {
background: rgba(255,255,255,.7);
width: 100% !important;
position: inherit;
left: 0;
top: 0px;
height: 100%;
text-align: center;}
}   

/*edited on 17/12/18*/
.page-template-template-training-list .choose_training_area .overview_page, .page-template-template-training-list .choose_training_area .overview_page p {display:block!important; color:#0087d7!important; font-size:12px!important;}
.page-template-template-training-list .training_blog_points div {padding-bottom:5px!important;}
/*.training-template-default .desktop-column {position:-webkit-sticky!important;  position:sticky!important; top:180px!important;}*/
/*.training-template-default .hide-anchor .overview_page:nth-child(3) {display:none!important;}*/
.training-template-default .hide-anchor .overview_page a span, .training-template-default .hide-anchor .overview_page a span p {width:auto!important; font-size:16px!important; line-height:27px!important; font-family:OpenSans!important; padding-right:1px!important;}
.training-template-default .hide-anchor .overview_page a {font-size:16px!important; line-height:26px!important; color:#fff!important; font-family:OpenSans!important;}
.training-template-default .hide-anchor .overview_page a span:last-child {padding-left:5px!important;}
.training_content_section .white_bg_block.orange_bg .overview_page span p {width:auto!important;display: inline-block; color: #fff;}
.training-template-default .hide-anchor .overview_page .event-location {font-size:14px!important; line-height:24px!important; color:#fff!important; font-family:OpenSans!important; padding-left:24px!important;}
.training-template-default .hide-anchor .overview_page p.event-location:hover {color:#0087d7; text-decoration:underline;}
.training-template-default .single-training-left {width:70%!important;}
.training-template-default .single-training-right {width:29.8%!important;}
.training-template-default .training_content_section .white_bg_block.orange_bg .training_blog_points.traning_schedule span:last-child {line-height:26px!important; font-size:16px!important;}
.training-template-default .white_bg_block.orange_bg .orange-btn {font-size:20px!important; line-height:55px!important; padding:0 8px !important;}
.training-template-default .white_bg_block .training_blog_points span:first-child {vertical-align:top!important; margin-right:0px !important;}
.training-template-default .hide-anchor div {padding-bottom:5px!important;}
.training-template-default .banner_section.content_only {height:300px!important;}
.single-training .training_content_section .white_bg_block.orange_bg { /*max-height:400px;*/ padding:0px;}
.training_content_section .white_bg_block.orange_bg { max-height: 500px; padding:0px;}
.training_content_section .white_bg_block.orange_bg .white_bg_block_container{padding: 15px;}

.training-template-default .banner_section.content_only .banner_video .banner_video_container {position:relative;}
.training-template-default .banner_section.content_only .banner_video .banner_video_container img {max-height:inherit; max-width:inherit;
  width:100%; border-radius:0px!important;}
.training-template-default .banner_section.content_only {padding:0!important; position:relative;}
.effectief-aan-financiele-stuur .training-template-default .banner_section.content_only .banner_color .banner_color_text {width:auto!important; top:25px!important; padding-left:30px!important;}
.training-template-default .banner_section.content_only .banner_color .banner_color_text {top:25px!important;}
.effectief-aan-financiele-stuur .banner_section.content_only .banner_color .banner_color_text {left:15px!important; width:80%;}
.effectief-aan-financiele-stuur .single-image-training {background:#f2f9fd;}
.single-image-training { background: #f2f9fd !important;  }
.event-end-date {padding-left: 24px !important;}
.training_content_section .white_bg_block p {margin-bottom: 10px;}
.training_blog_points p {margin-bottom: 0px !important;}

/* Adjustments Klik & Steen 19 dec 2018 */


.training_content_section .choose_training_area .training_block .white_bg_block h4 {padding-top:15px;}
.training_blog_points.traning_schedule.hide-anchor {margin-top: 40px!important;}
/* .training_content_section .choose_training_area .training_block .white_bg_block.banner_block {min-height:500px;} */


   
/***  collecting css ***/  
.white_bg_block.orange_bg.right_sidebar.mCustomScrollbar._mCS_1.mCS_no_scrollbar{ padding:0px;}
.white_bg_block.orange_bg.right_sidebar.mCustomScrollbar._mCS_1.mCS_no_scrollbar .mCSB_container { padding:15px;} 
.overview_page {    margin-bottom: 10px;}
#side_div.fixed_rightbar {float: left; transition:all 500ms ease; height: 100%;}
.single  .training_content_section .row{ display:flex; flex-wrap:wrap;}
#side_div { padding-right: 15px; float:left; width:100%;}
.training_blog_points.traning_schedule.hide-anchor {
    margin-top: 40px !important;
    padding: 0px 20px;
}
.orange-button {  float: left; width: 100%; background: #fda164; margin-top: -61px; position: sticky; position: -webkit-sticky; z-index: 90;
    top: 90px; padding:10px 15px 15px;border-radius: 10px;margin-bottom: 25px;
}
.orange-button  .orange-btn{color: #fda164 !important;border:2px solid #fff !important;background: white !important;padding: 8px 25px !important;
display: block;font-size: 16px; line-height:22px;}


.scroll-element .scroll-bar, .scroll-element .scroll-arrow {
    cursor: default;
    height: 293px !important;
    background: rgba(255,255,255,0.75);
    right: 1px;
    width: 2px;
    margin: 3px auto;

}
.scroll-element.scroll-y.scroll-scrolly_visible {
height: 300px;
width: 4px;
background: rgba(0,0,0,0.3);
right: 3px;
top: 2px;
position: absolute;
border-radius: 5px; 

}
.training_content_section .white_bg_block .box-top-right-icon{ z-index:1;}
/*.side-bar-height{ max-height:350px;}*/
.blogs_news_section .blogs_wrapper .banner_image{ min-height: 160px }
.home  .blogs_news_section .blogs_wrapper .col-sm-6.col-xs-12.grid-item {
    padding-bottom: 20px;
}



/*banner text-cutand sfari issue*/
@media screen and (max-width:1220px){
.training-template-default .single-training-right {width: 29.8%!important;}
#side_div{padding-right:0px;} 
.training-template-default .banner_section.content_only{height:auto !important;}
.training-template-default .banner_section.content_only .banner_equal{height:auto !important;}
.training-template-default .banner_section.content_only .banner_color .banner_color_text{top:0px !important;}
.training-template-default .banner_section.content_only{ padding:20px 0px !important;}
}
/*banner text-cutand sfari issue end*/

@media only screen and (max-width:1199px) {
  .activity_content_section .white_bg_block .training_blog_points.traning_schedule span:first-child {display:inline-block!important;}
  .training-template-default .white_bg_block .training_blog_points span:first-child {vertical-align:top!important;}
   #masterhead .site-header-wrapper .header_section.menu-wrapper .main-menu-wrap #site-navigation-wrap .menu-header-menu-bar-container ul li a{
        font-size: 16px;}
   #masterhead .site-header-wrapper .header_section.menu-wrapper .main-menu-wrap #site-navigation-wrap .menu-header-menu-bar-container ul li ul li a{ font-size: 14px;}
   .training_listing_banner_section .banner_image .banner_image_text {width: 60%;}
}

@media only screen and (max-width:991px) {
  .training-template-default .training_content_section .white_bg_block.orange_bg .training_blog_points.traning_schedule span:last-child {
    line-height:24px!important; font-size:14px!important; display:inline; width:auto;}
  .training-template-default .white_bg_block.orange_bg .orange-btn {width:100%; text-align:center; font-size:16px!important;
    line-height:40px!important;}
    #masterhead .site-header-wrapper .header_section.menu-wrapper .main-menu-wrap #site-navigation-wrap .menu-header-menu-bar-container ul li a{font-size: 12px;}
    #masterhead .site-header-wrapper .header_section.menu-wrapper .main-menu-wrap #site-navigation-wrap .menu-header-menu-bar-container ul li ul li a{ font-size: 12px;}
    .page-id-122 .home_banner_section .banner_image {
    height: 300px !important;
}
.page-id-122 .banner_section .banner_image_text_mobile p {
    font-size: 30px;
    line-height: 35px;
    }
.training_listing_banner_section .banner_image .banner_image_text {width: 72%;}

}

@media only screen and (max-width:767px) {
  .training_content_section .white_bg_block.orange_bg {margin-top:0px!important;}
  .training-template-default .single-training-left {width:100% !important;}
.training_content_section .choose_training_area .training_block .white_bg_block.banner_block {min-height:auto;}
.single-training .training_content_section .white_bg_block.orange_bg{margin-top:0px!important;}
}


.woocommerce form .form-row .input-checkbox [id=terms], .page-id-15 input#terms {
  margin: 6px 0px 0 -20px!important;
      }
.woocommerce-terms-and-conditions-wrapper {
    padding-left: 20px;
}     
button#place_order{
  background-color: #0087d7;
    font-weight: 400;
    font-family: OpenSansSemiBold;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 1em;
    border-radius: 3px!important;
}
.popup-content .xoo-cp-ptitle a, .login-popup-container .title{
    color: #231f20;
   }

@media all and (-ms-high-contrast:none)
{
   ::-ms-backdrop, .fixed_rightbar { width:100% !important;}
   .orange-button.sidebar-fixed{ position:fixed; top:179px; width:306px;}
   .orange-button{position:relative; top:0px;}
} 
 
@media only screen and (max-width:1199px) {
#burst-12{width: 50px; height: 50px;bottom:39px; right:15px;}
#burst-12::before, #burst-12::after{height:50px; width:50px;}
#burst-12 span{font-size:11px; top:-2px;} 
}

@media only screen and (max-width: 991px) and (min-width: 768px)  { 
#burst-12::before, #burst-12::after{height: 50px; width: 50px;}
#burst-12 span{font-size: 11px;}
}  
.training_blog_points.traning_schedule.hide-anchor>:nth-child(5) {
    display: block;}
    
@media only screen and (max-width:1024px) {
 .orange-button .orange-btn{font-size: 14px;line-height: 16px; padding: 8px 14px !important;}
  
}
    
@media only screen and (max-width:768px) {
  .training_content_section .white_bg_block.orange_bg .overview_page span p {
    font-size: 14px !important;}
    .event-end-date {padding-left:24px!important;}
    .page-id-122 .banner_section .banner_image_text_mobile h1 {
    width: 60%;
}

.page-id-122 .home_banner_section .banner_image {
    height: 270px !important;
} 
}

@media only screen and (max-width:767px) {
    .event-end-date {padding-left:0px!important;}
    .training-template-default .hide-anchor .overview_page .event-location {display:block;}
}

/******* 5-2-2019 start *********/
.home_banner_section .banner_image{
    height:300px !important;
        background-position: right top;
}
.home .breadcrumbs_search_area {
    display: block;
}
.home .breadcrumbs_search_area .breadcrumbs_wrapper.breadcrumbs {
    display: none ;
}
.home .home_banner_section {
    padding-top: 15px !important;
}
.home .banner_search_wrapper{display:none !important;}


@media screen and (max-width: 767px){
.home_banner_section .banner_image {
    height: 250px !important;
}

/*font-size-riduse-css*/
.banner_section .banner_image_text_mobile p {font-size: 17px;line-height: 27px;}
/*font-size-riduse-css-end*/

/*mobile-text-banner-block*/
.banner_section .banner_image_text_mobile{ display:block;}
/*mobile-text-banner-block-end*/
}

@media screen and (max-width: 549px){
.home_banner_section .banner_image {
    height: 185px !important;
}
.banner_section .banner_image_text_mobile p {
    font-size: 17px;
    font-family: OpenSansLight;
    line-height: 25px;
    padding: 0 0px;
    /*text-align: left;*/
}
}

@media screen and (max-width: 375px){
.home_banner_section .banner_image {
    height: 190px !important;
}
}
@media screen and (max-width: 767px) and (min-width: 350px){
.training_content_section .choose_training_area {
    max-width: 100% !important;
   
}
}

/******* 5-2-2019 end *********/
.shipping {
    display:contents !important;
    width:0px !important;
}

/******* 22-2-2019 start *********/
  .training-template-default .hide-anchor div:nth-child(4) {padding:15px 0 !important;}
  
  
/******* 19-3-2019  *********/
@media screen and (max-width: 767px){
.page-id-122 .home_banner_section .banner_image {
    display:none;
}

}

/******* 9-4-2019  *********/

/****** 31-10-2019 ******/
.page-template-template-search .home_banner_section .banner_image{ height:auto !important;}
.page-template-template-search .paginate_div #pagination-flickr li a.current {
    color:#0087d7;
}
.page-template-template-search .paginate_div #pagination-flickr li a {
    border: 0;
    font-size: 15px;
    line-height: 18px;
    padding: 3px 10px;
    color: #6d6e71;
    font-family: OpenSansSemiBold;
}
.page-template-template-search .paginate_div. #pagination-flickr li {
    border-right: 1px solid #6d6e71;
    display: inline-block;
}
.training-template-default .single-training-right {
    display: flex;
}

.page-id-26 .banner_image_text > a, .page-id-26 .banner_image_text_mobile > a{background:rgb(254,80,11);font-size: 13px;color:#fff !important;
display: inline-block;padding: 0px 20px!important;font-family: 'OpenSansSemiBold'; margin: 0 auto;text-align: center;
border-radius: 10px;line-height: 35px;text-decoration: none !important;}
.banner_image_text > a:hover, .banner_image_text_mobile a:hover{background:transparent; border: 1px solid rgb(254,80,11)!important; color:rgb(254,80,11)!important;}
.banner_section.content_only .banner_color .col-md-6.col-sm-6.col-xs-12.banner_equal .banner_color_text{ width:100% !important; padding-left:0px;}


 /*changes-19-03*/

.sidebar-widget-meet{ clear:left; width:100%; float:left; padding:25px 22px 30px;border-radius: 10px;box-shadow: 0 0 5px #ccc; z-index:9; background:#fff; margin-bottom:30px;}
.sidebar-widget-button {position: sticky; position: -webkit-sticky; top: 190px;}
.sidebar-widget-button a{background:#ff7900;font-size: 13px;color:#fff;display: block;padding: 0px 12px!important;font-family: OpenSansSemiBold;margin: 0 auto;text-align: center;border-radius: 10px;line-height: 35px; text-decoration:none;}
.sidebar-widget-button a:hover{background:#fff; border: 1px solid #ff7900; color:#ff7900;}
.sidebar-widget-meet h2{ font-size:24px; line-height:29px; color:#0087d7;font-weight: bold; text-align:center; margin-bottom:22px;}
.sidebar-widget-meet h3{font-size:16px; color:#000000; line-height:22px; font-weight:bold;text-align:center;margin-bottom:22px;}
.sidebar-widget-meet p{ font-size:14px; color:#000; font-weight:normal;line-height:26px;text-align:center;margin-bottom:25px;}
.sidebar-widget-meet a{background:rgb(254,80,11)!important;font-size: 13px;color:#fff;display: block;padding: 0px 12px!important;font-family: OpenSansSemiBold;
margin: 0 auto;text-align: center;border-radius: 10px;line-height: 35px; text-decoration:none; border:1px solid #ff7900;}
.training-template-default .single-training-right{ display:flex;}

.sidebar-widget-meet ul{list-style:none;}
.sidebar-widget-meet li{ position:relative;padding-left: 26px;} 
.sidebar-widget-meet li::before {content: "\f00c";font-size: 16px;font-family: fontawesome;min-width: 25px; color:#2db45c;font-size: 16px;min-width: 25px;
display: inline-block;position: absolute;left:0px;}

.sidebar-widget-meet a:hover{background:#fff; border: 1px solid rgb(254,80,11)!important; color:#fff !important;}
.banner_image_text > a, .banner_image_text_mobile > a{font-size: 13px;color:#fff !important;display: inline-block;font-family: 'OpenSansSemiBold'; margin: 0 auto;text-align: center;
border-radius: 10px;line-height: 35px;text-decoration: none !important;}
.banner_image_text > a:hover, .banner_image_text_mobile a:hover{background:#fff; border: 1px solid #ff7900; color:#ff7900!important;text-decoration: none !important;}
.mobile-side-btn{ display:none;}


 /*changes-19-03*/
@media screen and (max-width: 1199px){
  .sidebar-widget-meet a{ width:100%;}  
}

@media screen and (max-width: 991px){
    #side_div.fixed_rightbar .scroll-wrapper > .scroll-content{
    overflow-x: hidden !important;
    }

    /*changes-19-03*/
    .sidebar-widget-meet{ padding:20px 15px;}
    .sidebar-widget-meet h2{ font-size:22px;}
    .sidebar-widget-meet a{ font-size:14px;}

    .training-template-default .hide-anchor .overview_page a span, 
    .training-template-default .hide-anchor .overview_page a span p{ font-size:14px !important; text-align:left;}
    .training_blog_points.traning_schedule.hide-anchor{ padding:0px 1px;}
    .banner_section.content_only .banner_color .banner_color_text{ width:100%;}
    
}

@media screen and (max-width:767px){
/*changes-19-03*/
   .sidebar-widget-meet{margin-bottom:30px; margin-top:0px;}  
    .sidebar-widget-meet a{ width:80%;} 
    .sidbar-box-wht.sidebar-widget-meet a{ width:100%;}
    section.banner_section.content_only.activity_banner_section.banner_image {background-position: left !important;}
    .sidebar-widget-meet{top:00px;}
    .mobile-side-btn{display:block; padding:0px !important;}
    .mobile-side-btn .sidebar-widget-button #sticky-button-sidebar{ position:fixed !important; bottom:00px; left:15px; z-index:99;}
    .single-training .slideout-panel{ will-change:unset;}
    .sidebar-widget-meet{ position:relative !important; z-index:1;}
    /*paading riduse on mobile*/

    /*paading riduse on mobile*/
    .banner_section .banner_image_text_mobile p{ padding:0px;}
     section.banner_section.content_only.activity_banner_section.banner_image {background-position: left !important;}
     .training-template-default .hide-anchor .overview_page a span, .training-template-default .hide-anchor .overview_page a span p{
     	line-height: 27px !important;
     }
     /*paading riduse on mobile end*/
}


/*changes on ornage box content alignmnet*/
.training-template-default .hide-anchor .overview_page .event-location{padding-left: 0px !important;}
.overview_page a > span{ float:left;}
.event-location {  float: none !important; width: auto !important; overflow: hidden;  display: block !important;}
.overview_page .event-end-date{ padding-left:0px !important;}
.trainig-duration > span{ float:left;}
.trainig-duration123{ overflow:hidden; display:block;}
.trainig-duration123 span{ text-align:left !important;}
.aantal_deelnemers span{ float:left;}
.trainig-price span{float:left;}
.training_type span{float:left;}
.orange-button .orange-btn{ text-align:center;}


@media screen and (max-width:640px){
.training-template-default .banner_section.content_only{ height:auto !important;}
.training-template-default .banner_section.content_only .banner_color .banner_color_text{ padding-left:0px;}
.banner_section.content_only h1{word-wrap: break-word;}
.banner_image_text > a, .banner_image_text_mobile a{margin-top:10px};
}

/****** 31-10-2019 ******/
.page-template-template-search .home_banner_section .banner_image{ height:auto !important;}
.page-template-template-search .paginate_div #pagination-flickr li a.current {
    color:#0087d7;
}
.page-template-template-search .paginate_div #pagination-flickr li a {
    border: 0;
    font-size: 15px;
    line-height: 18px;
    padding: 3px 10px;
    color: #6d6e71;
    font-family: OpenSansSemiBold;
}
.page-template-template-search .paginate_div. #pagination-flickr li {
    border-right: 1px solid 
    #6d6e71;
    display: inline-block;
}

.paginate_div.stimulansz_custom_pagination {
    float: none!important;
}

@media screen and (max-width:374px){
	body.single h1{
		font-size:27px!important;
	}
}
@media screen and (min-width:1000px){
.banner_color_text {width: 100%!important;}
}

@media screen and (max-width:1000px){
section.banner_section.content_only.activity_banner_section.banner_image{
	background-position: left!important;}
	}

/*change pagination 10-12-2019*/

.wp-pagenavi a{font-size: 15px;line-height: 18px;padding: 3px 10px;color:#6d6e71;
font-family: OpenSansSemiBold;margin-right: 2px;border-right: 1px solid #6d6e71 !important;}
.wp-pagenavi span.current{border-right: 1px solid #6d6e71 !important;}
.wp-pagenavi a:last-child, .wp-pagenavi span:last-child{ border-right:0px !important;}


/*winkel-changes-css*/
.list .banner_image{ float:left; width:30%;}
.woocommerce ul.products.list li.product a{ display:block;}
.woocommerce ul.products.list li.product .white_bg_block .banner_content{ overflow:hidden;}
.woocommerce  ul.products.list li.product img{ width:100% !important;}
.woocommerce ul.products.list li.product h3, 
.woocommerce ul.products.list li.product .woocommerce-product-details__short-description, 
.woocommerce ul.products.list li.product .price, 
.woocommerce ul.products.list li.product .gridlist-buttonwrap{ width:100% !important; }
.paginate_div.stimulansz_custom_pagination{ width: 100%; }

/*star overlaping issue -changes-css*/

.training_content_section .choose_training_area .training_block .white_bg_block.banner_block{ height:auto !important;
 padding: 0 0 25px; margin-bottom:0px !important;}
.training_content_section .choose_training_area{ display:flex; flex-wrap:wrap;}
.training_content_section .choose_training_area .training_block{ margin-bottom:30px; display:flex; flex-wrap:wrap;}
.training-img{ float:left;}
.training-content{ display:block; overflow:hidden;color:#231f20;line-height: 22px;}

.white_bg_block .white_bg_block_container .learning_points ul{ display:flex; flex-wrap: wrap;} 
.white_bg_block .white_bg_block_container .learning_points ul li::before{ left:0 !important; position: absolute;}
.white_bg_block .white_bg_block_container .learning_points ul li { margin-left:0px; padding-left:30px; width: 50%; position: relative;
  padding-right:10px;}
.white_bg_block .box-top-right-icon{color:#fff;text-align: center; line-height: 33px; padding: 0 15px;}
.training_content_section .white_bg_block .brief_intro ul{ list-style:none;}
.training_content_section .white_bg_block .brief_intro ul li{ position:relative;}
/*.training_content_section .white_bg_block .brief_intro ul li::before {content: "\f00c";font-size: 16px;
font-family: fontawesome;min-width: 25px; color:#2db45c;font-size: 16px;min-width: 25px;
display: inline-block;position: absolute;left: -25px;}*/
.brief_intro ul li{list-style: disc;}

@media screen and (max-width:991px){
 .training-content{ width:100%;}
}
@media screen and (max-width:640px){
.white_bg_block .white_bg_block_container .learning_points ul li{ width:100%;}
}
a.next.page-numbers { display: none!important;}
.white_bg_block .box-top-right-icon {color: #fff; text-align: center; line-height: 33px; padding: 0 15px; width: auto !important;}
.section_title h2{ font-family: OpenSansRegular;padding-left: 10px; box-sizing: border-box; }
.white_bg_block .white_bg_block_container .learning_points ul li::before {
content: "\f00c";font-size: 16px;font-family: fontawesome; min-width: 25px; color:#2db45c; font-size: 16px;
min-width: 25px;display: inline-block; position: absolute; left: -25px;}
li#menu-item-19635 { display: none;}

.single-product #demo-3 .modal-dialog{ width:auto; top:9% !important; display: flex; }
.single-product #demo-3 .modal-dialog .modal-content{ width:auto; max-width:100%; background:none;}
.single-product #demo-3 .modal-dialog .modal-content .modal-body{ width:auto;}
.single-product #demo-3 .modal-dialog .modal-content .modal-body .mySlides  img{ width:auto !important;
 max-width:100%; display:block; margin:0 auto;}

 .orange-button .orange-btn:hover {
    background: transparent !important;
    color: #fff !important;
}
/*changes-19-03*/

@media screen and (max-width:767px){
    .sidebar-without-sticky {margin-top: 0px;}
    #masterhead .site-header-wrapper .header_section.logo-wrapper .header-one-logo a img {
    max-height: 70px;
    max-width: 180px;
}
}

.sidebar-widget-button-sticky{ clear:left;}
.sidebar-widget-meet.sidbar-box-wht.no-orange-section1{ padding-bottom:60px;}
.sidebar-widget-meet.sidbar-box-wht.test{ padding-bottom:60px;}
.sidebar-widget-button-sticky a{background-color: rgb(254,80,11); display:block; line-height: 35px; padding:0 12px !important; border-radius: 8px; font-size: 13px; border:1px solid rgb(254,80,11);
text-align: center;color:#fff;font-weight: bold; text-decoration:none;}
.sidebar-widget-button-sticky a:hover{ background:#fff; color:rgb(254,80,11); } 
.sidebar-without-sticky {float: left;margin-top: -93px;padding: 10px 22px 10px;width: 100%;position:relative;z-index:9;}
.sidebar-widget-button-sticky {float: left;margin-top: -93px;padding: 10px 22px 10px;width: 100%;position: sticky;top: 170px;z-index: 1;background:#fff;}
.sidebar-without-sticky a{background-color: rgb(254,80,11); display:block; line-height: 35px; padding:0 12px !important; border-radius: 8px; font-size: 13px; border:1px solid rgb(254,80,11);text-align: center;color:#fff; text-decoration:none;font-weight: 400; font-family: OpenSansSemiBold;}
.sidebar-without-sticky a:hover{background-color: transparent;border:1px solid rgb(254,80,11);text-align: center;color:rgb(254,80,11);}

.sidebar-widget-meet.sidbar-box-wht.no-orange-section {top: 0;}
.landing-orange-sticky {margin-top: -20px;float: left; width: 100%;background:#fda164;  margin-top: -87px; position: sticky; 
position: -webkit-sticky; top: 90px;text-align: center;padding: 0px 15px;   border-radius:10px; z-index:1;}
.landing-orange-sticky .orange-btn.landing-page-sticky {color:#ff7900 !important;border: 1px solid #fff !important;
background: #fff !important; display: block; }

.training_content_section .desktop-landing .white_bg_block.orange_bg{ max-height: unset; padding-bottom:61px;}
.training_content_section .desktop-landing .landing-orange-sticky{ position: relative; top:0; }
@media screen and (min-width:767px){
#masterhead .site-header-wrapper .header_section.logo-wrapper .header-one-logo a img {
    max-height: 200px!important;
    max-width: 300px!important;
    }
  }
#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item {
    border-left: 0px solid #6d6e71!important;
}
a.mega-menu-link:before {
    content: "|";
    font-size: 18px !important;
    line-height: 50px!important;
    color: #6d6e71;
    font-weight: bold !important;
    margin: 0 15px 0px 5px !important;
}
ul.mega-sub-menu a.mega-menu-link:before, li#mega-menu-item-530 a:before {
    display: none!important;
}
#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    background: white;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 8px 10px 10px 10px;
    border-radius: 10px;
	}
	#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title{
		text-transform: none!important;
	}
ul.mega-sub-menu a.mega-menu-link{
	font-size: 16px!important;
}

@media (min-width: 780px) {
    .facetwp-flyout-open {
        display: none;
    }
}

@media screen and (max-width:767px){
    #mega-menu-wrap-header-menu .mega-menu-toggle + #mega-menu-header-menu{ position:static; right:0; width:100%;padding-top: 70px; max-width:100%;}
    #mega-menu-wrap-header-menu .mega-menu-toggle{ display:none;}
    #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item { border-bottom: 1px solid rgba(255,255,255,0.5);padding: 10px 15px 0px; }
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item > a.mega-menu-link{line-height: 20px; height:auto; padding-bottom:10px !important; 
   color:#fff !important;  font-size:14px !important; }
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item > a.mega-menu-link:before{ display:none !important;}
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{background: none;}
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu{ background:none; box-shadow:none;}
   #mega-menu-wrap-header-menu #mega-menu-header-menu li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{ padding:0px;}
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, 
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{ color:#fff; padding:0px 0px 8px 0px !important;
       font-size:14px !important;
   }
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link, 
   #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link{color:#fff; padding: 0px 0px 5px 0px !important;
font-size: 13px !important;}
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus{ color:#fff;} 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus{ color:#fff;}
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu.mega-menu-item{ float:left;position: static; width:100%;}
 #mega-menu-wrap-header-menu #mega-menu-header-menu li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, #mega-menu-wrap-header-menu #mega-menu-header-menu li.mega-menu-megamenu.mega-menu-item.mega-toggle-on ul.mega-sub-menu{ padding-bottom:8px;}
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item, 
 #mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{ color:#fff;}
 .menu.slideout-menu  #mega-menu-wrap-header-menu ul.mobile-nav{ margin-top:0px;}
 .mobile-nav {
display: none;
}
#masterhead .site-header-wrapper .header_section.logo-wrapper .header-one-logo a img{max-height: 70px !important;max-width: 180px !important;}
}
#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-item {
    border-left: 0px solid #6d6e71!important;}
    
 ul#field1407,input#field1408-305 {
    padding-left: 0px;
}
label.mpMultipleLabel {
    padding-left: 10px;
    }
    
    /* WP-Facets filters*/

.white_bg_block.wpb_column.vc_column_container.vc_col-sm-3 {
    width: 22%;
    margin-right: 15px;
}

p.filter {
    font-family: OpenSansSemiBold;
    color: #0087d7!important;
    margin-bottom: 22px!important;
    font-size: 18px;
}

p.filter-title {
    margin: 20px 0px 10px 0px;
    color: #231f20;
    font-size: 19px;
    font-family: OpenSansRegular;
    padding-bottom: 8px;
    border-bottom: 1px solid #0087d7;
}
.facetwp-facet.facetwp-type-checkboxes {
    font-family: OpenSansRegular;
    font-weight: 400;
    color: #6d6e71;
    margin-top: 0;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    line-height: 24px;
    position: relative;
    font-size: 12px;
}


.facetwp-checkbox{
	background-size: 17px 17px!important;
	padding-left: 25px!important;
	margin-bottom: 0px!important;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
	margin-bottom: 0px!important;
}

/* Resultaten trainingen */

.training_content_section .white_bg_block .box-top-right-icon{
	color: #fff!important;
}
.training_content_section .white_bg_block.banner_block {
    padding: 15px 15px 0px;
}
.resultaat-h4{
	padding-top: 45px;
	width: 100%;
    margin-top: 5px;
    font-family: OpenSansSemiBold;
	color: #0087d7;
    line-height: 21px;
    font-size: 16px;
}
.training_blog_points{
	margin: 15px 0;
    line-height: 23px;
}
.training-details{
	color:#0087d7;
	padding-bottom: 5px;
	font-size: 12px;
}
.training-details i {
    margin-right: 10px;
    font-size: 16px;
    width: 20px;
}
.fa{text-align: center!important;}
.fwpl-row{
	height: 100%;
	}

.burst-12 {
    background: #ff7900;
    width: 64px;
    height: 64px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    right: 28px;
    bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    display: block;
    color: #fff;
    font-weight: 600;
    position: relative;
    z-index: 9;
    font-family: 'OpenSans' !important;
    transform: rotatez(-25deg);
    text-align: center;
    line-height: 15px;
    }

.facetwp-pager {
    text-align: right;
    margin-top: 50px;
}

a.facetwp-page.first.active {
    background-color: transparent!important;
    color: #0087d7!;
}
a.facetwp-page {
    border: 0;
    font-size: 15px;
    line-height: 18px;
    padding: 3px 10px;
    color: #6d6e71;
    font-family: OpenSansSemiBold;
}

a.facetwp-page:after {
    color: black;
    content: "|";
    padding-left: 11px;
}


.page-id-122 .blogs_news_section .blogs_wrapper .banner_image {
    min-height: 160px;
    width: 33%;
    display: inline-block;
}

.page-id-122 .inspiratie_nieuws-items .box-top-right-icon {
    float: left !important;
    left: 36%;
    text-align: left !important;
    background-color: transparent !important;
    color: black !important;
    display: block !important;
}

.inspiratie_nieuws-items {
    padding-bottom: 50px !important;
}

.fwpl-tax-category {text-transform: uppercase;}
.no-shadow button{background-image:none!important;}

/* Related OR Feature Posts */
.related-posts {
    list-style:none;
    margin:0;
    padding:0;
	vertical-align: top;
	position: inherit;
}
  
.related-posts li {
    display:block;
    text-align:center;
    float:left;
    margin:0 auto;
    padding-left:3px 10px 3px 0px;    
    width:48%; 
    height:175px;
	margin-right: 2%;
	margin-bottom: 50px
}
.auteur-datum-row i {
    color: gray;
    width: 15px;
    text-align: left!important;
} 
.related_permalink{   
    text-align:left;
    padding-top:5px;    
    padding-bottom:5px;
margin-bottom:2px;  
	font-size: 14px !important;
 background-color: rgb(254,80,11);
	padding: 5px;
	height: auto;
}
 .related_permalink a{
color:white;
font-weight:bold;
 text-decoration:none;
 }


.link_text {
    width: 80%;
    display: inline-block;
}

.arrow-icon-permalink {
    width: 20%;
    display: inline-block;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: right;
    padding: 5px;
    vertical-align: top;
}

.related_permalink a:hover{
 text-decoration:underline;
 } 
.related_thumbnail{
     text-align:center;
}
.related_thumbnail img { 
	border-width:0px;
	float:none;
	margin:0 auto;
	height: 180px;
	width:100%;
	object-fit: cover;
border-radius: 15px 0 0 0;
}
/* Related Posts End */ 


/*slider-css*/

.responsive  .multiple.slick-slide{ padding: 0px 10px; background:none !important; float:left; position:relative; }
.responsive  .multiple.slick-slide .multiple-slide{padding: 0px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.09);box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.09);border-radius:10px;} 
.responsive.slick-slider .slick-list{ padding:15px 0px;margin-left: -5px;margin-right: -5px;}
.responsive .multiple.slick-slide img{ width:100%;object-fit: contain;border-radius:10px 10px;}
.responsive .multiple.slick-slide .multiple-slide > a {display: flex;  position:relative; }
.responsive .multiple.slick-slide h3{;bottom: 0;left: 0;width: 100%;padding: 10px 10px 0px 0px;z-index: 99; position: absolute;}
.responsive .multiple.slick-slide h3 a{font-size: 18px;line-height:29px;font-weight: bold;font-family: 'OpenSans' !important; display:inline-block;
background:url(images/slider-blue-arrow.png) no-repeat right 4px; padding-right:21px;background-size: 12px; padding-left: 10px;}
.responsive .multiple.slick-slide h3 a:hover{ text-decoration:underline; }
.responsive.slick-slider .slick-prev{ background:#fe500b url(images/sider-arrow.png) no-repeat center center; border:none;width: 40px;
z-index: 9;height: 40px;border-radius: 8px; z-index:1; left:-15px !important; }
.responsive.slick-slider .slick-next{background:#fe500b url(images/sider-arrow1.png) no-repeat center center; border:none;width: 40px;
z-index: 9;height: 40px;border-radius: 8px;  z-index:1; right:-15px !important;}
.training_content_section .white_bg_block h1.entry-title{ font-size:30px; line-height:30px;font-weight: bold;font-family: 'OpenSans' !important; padding-bottom:10px;}
.responsive .multiple.slick-slide .sec-image{ position: absolute; top:0;left: 0; opacity:0; display:none; } 
.responsive .multiple.slick-slide:hover .sec-image{ position: absolute; top:0;left: 0;  opacity:1; display:block; z-index:1; height:100%;}
.responsive.slick-initialized.slick-slider{ margin-right:-5px;margin-left:-5px;} 


/*versio-2-slider*/

.responsive.version2   .multiple.slick-slide .multiple-slide{padding: 0px 5px;box-shadow:none;border-radius:0px;} 
.responsive.version2.slick-slider .slick-list{ padding:0px;margin-left:0px;margin-right:0px;}
.responsive.version2 .multiple.slick-slide h3{position:static; }
.responsive.version2 .multiple.slick-slide img{object-fit: cover!important;}
.responsive .multiple.slick-slide h3 a:hover{ text-decoration:underline; color: #0087d7; }

form#form1209 .mpFormLabel{ width: 100%;display: block;position: relative;height: 0}
form#form1209 .mpFormLabel label{display: block;position: absolute;top:0px;left: 0;transition: top .2s ease,font-size .2s ease;
cursor: text; font-size:12px; line-height:26px; color: #101010; cursor: text;padding: 6px 10px;}
form#form1209  input:focus + .mpFormLabel label{top: -80px; font:16px/16px "brownlight"; cursor: default;}
form#form1209 .get-touch-focus .mpFormLabel label{ display:none;} 
form#form1209 .have-value .mpFormLabel label{ display:none;} 

.breadcrumbs_search_area{padding-top: 100px!important;}

/* Footer inschrijfformulier */
li#CNT1334 {margin-top: 5px;}

label.error{display: none!important;}

#masterfooter .footer-head .footer-head-container {border-top-right-radius: 40px;border-bottom-right-radius: 0px!important;}
.footer-head .container {padding: 0;}
.footer-above .container{background:#f5f7fa!important;}
#masterfooter .footer-above .footer-col h3 {margin: 30px 0 20px!important;}

input#field1334{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    margin-bottom: 2px!important;
    font-size: 14px !important;
    background-color: rgb(254,80,11)!important;
    height: auto!important;
    width: 100%;
    border-radius: 10px!important;
    border: 1px solid rgb(254,80,11)!important;}
    
input#field1334:hover{
	background-color: #fff!important;
	color:rgb(254,80,11)!important;
	}

form#form1209{margin-bottom: 50px;}
img.alignnone.wp-image-16691 {
    margin-top: 10px;
}
    
input#field1328, input#field1331,input#field1330, input#field1329{background:#fff!important; background-color: #fff!important; width: 100%;border-radius: 10px!important;margin-bottom: 10px;}
form#form1209 label, span.mandatorySign {display: none;}

.bekijk_training_btn button{
	border-radius: 10px;
	line-height: 35px!important;
	padding: 0 12px!important;
}

h3#leer-het-tijdens-onze-training {
    font-family: Opensans;
    color:#fff!important;
}
h1#hoe-schrijft-u-een-verordening{
	color:#fff!important;
	}
.vc_btn3.vc_btn3-size-md .vc_btn3-icon{font-size: 25px!important;}
.vc_btn3.vc_btn3-size-md.vc_btn3-icon-right:not(.vc_btn3-o-empty) .vc_btn3-icon {
    right: 10px!important;
}
.fwpl-item.insp-photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
ul#themepages_menu li{
	width: 100%!important;
}

.breadcrumbs_search_area .breadcrumbs_wrapper{
	padding-left: 0px!important;
}
.each_block {
    margin-bottom: 20px;
    display: grid;
    width: 100%;
}
.each_block .title {
	order: 2;
}
.each_block .date {
	order: 1;
}
.related_permalink p{
	color:#fff!important;
	height: 40px;
	vertical-align: middle;
	margin-bottom: 0px!important;
	display: table-cell!important;
	width: 193px;
    padding: 0px 10px;
    line-height: 20px!important;
}
.interessant-icon .vc_icon_element-inner {
    display: flex;
    right: -190px;
    font-size: 17px;
    top:15px;
}
.interessant-icon{margin-top: -75px;}

.wpb_single_image.wpb_content_element.vc_align_left.interessant-img img {
    border-top-right-radius: 70px;
}

.interessant-left .vc_column-inner {
    padding-left: 0px;
}
.kolom1{
	padding-top:0px!important;}
	
.interessant-right .vc_column-inner {
    padding-right: 0px;
}
page-id-16626 .col-xs-12{
	padding:0px!important
}
.veel_gezocht_block a, .each_block .date a, .each_block .date {
    font-size: 16px;
}

.fwpl-item.training-sticker{
	width: 64px;
    height: 64px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    right: 28px;
    bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
	}

.fwpl-item.training-sticker:before, .fwpl-item.training-sticker:after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 64px;
    background: #fa750b;
    border-radius: 5px;
	}
.fwpl-item.training-sticker:before{transform: rotate(30deg);}
.fwpl-item.training-sticker:after{transform: rotate(60deg);}

.blue-hp-button button:hover {
    background-color: transparent!important;
    color: #0087d7!important;
    border: 1px solid #0087d7!important;
}

.red-hp-button button{
	    padding: 10px 25px!important;
	    font-size: 20px!important;
		font-weight: 700!important;
	}

.red-hp-button button:hover {
    background-color: #fff!important;
    color: #fe500b!important;
    padding: 10px 25px!important;

}

.text-hp-button button{
	font-size: 16px!important;
	}

.text-hp-button button:hover {
text-decoration: underline!important;
}

.kolom2.wpb_column.vc_column_container.vc_col-sm-6 {
    padding-top: 0px;
}

.agenda a {
    font-size: 18px;
}

img.firstimg,img.sec-image {
    border-radius: 15px;
    width: 175px;
}

.multiple.slick-slide.slick-current.slick-active {
}


.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search_submit{
	height: 40px!important;
	padding: 5px 20px!important;
	margin-right: 20px;
	border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
	}
	.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search{
	height:40px;
	max-height: 40px!important;}
	
	#masterfooter .footer-above .footer-col ul li a, section.widget.text-6.widget_text, section.widget.text-6.widget_text a, section.widget.text-6.widget_text{
	font-size: 16px!important;
    line-height: 26px!important;
		}

.responsive.slick-initialized.slick-slider {
    margin-bottom: 10px;
    margin-top: 5px;
}

.vc_video-bg iframe#widget2 {
    width: 100%!important;
    height: 100%!important;
    margin-top: 0px!important;
}

ul.mpFormTable.mpOneColumnLayout {
    list-style-type: none;
}

.responsive .multiple.slick-slide h3 {margin-bottom: 10px!important;}
.Banner-hp .vc_column-inner{padding-left:50px;}
.fwpl-item insp-photo insp-photo,fwpl-col el-1tvcxf inspiratie-featured-img {width: 33%; display: inline; vertical-align: top;}

@media screen and (max-width:300px){
	.Banner-hp .vc_column-inner{padding-left:30px!important;}
	}
	

@media screen and (max-width:360px){
.interessant-icon .vc_icon_element-inner {right: -190px!important; top:-7px;}
.related_permalink p{ width: 155px!important; height: 80px;}
.related_permalink{height: 92px;}
.veel_gezocht_block{display: none!important;}
.fwpl-row.inspiratie-post-item {grid-template-columns: 1fr!important;}
.fwpl-item.insp-photo img, .interessant-left-mob, .interessant-right-mob {display: none!important;}

}

@media screen and (min-width:361px) and (max-width:768px){
.interessant-icon .vc_icon_element-inner {right: -110px!important; top:-7px;}
.related_permalink p{ width: 155px!important; height: 80px;}
.related_permalink{height: 92px;}
.fwpl-item.insp-photo img {width: 90px!important; height: 90px!important;}
}

@media screen and (min-width:378px) and (max-width:400px){
    
.fwpl-result:last-child{ display:none;}
.fwpl-result:nth-child(4){ display:none;} 
.responsive.slick-slider .slick-prev{width: 30px;height: 30px; left:-6px !important; background-size:18px auto;}
.responsive.slick-slider .slick-next{width: 30px;height: 30px; right:-6px !important; background-size:18px auto;} 
.fwpl-item.insp-photo img {width: 90px!important; height: 90px!important;}
.responsive .multiple.slick-slide h3{padding-top:10px!important;margin-bottom: 10px!important}
.kolom2 .white_bg_block {margin-bottom: 0px!important;}
.interessant-left.wpb_column.vc_column_container.vc_col-sm-6.vc_col-xs-12 {margin-bottom: 30px;}
.Banner-hp {margin-top: 20px;}
.interessant-icon .vc_icon_element-inner {right: -125px!important; top:-7px;}
.related_permalink p{ width: 155px!important; height: 80px;}
.related_permalink{height: 92px;}
.responsive .multiple.slick-slide{padding:0px!important;}

}

@media screen and (min-width:768px) and (max-width:1023px){
.Banner-hp {width: 100%!important;}
.fwpl-item.insp-photo img {width: 100px!important; height: 100px!important;margin-right: 10px;}
.facetwp-template{margin:0px!important;}
.interessant-icon .vc_icon_element-inner {right: -100px!important; top:-7px;}
.related_permalink p{ width: 125px!important; height: 80px;}
.related_permalink{height: 92px;}
.veel_gezocht_block{padding-right: 5px!important;}
.footer-col.col-md-3 {width: 45%!important;float: left;height: 300px;}
}

@media screen and (min-width:1024px) and (max-width:1300px){
	.interessant-icon .vc_icon_element-inner {right: -145px!important;top:3px;}
	.related_permalink p{ width: 156px!important; height: 65px}
	}
	
	.page-id-16626 .vc_row.vc_column-gap-35>.vc_column_container {
    padding: 15px;
}

.facetwp-facet.facetwp-facet-zoeken.facetwp-type-search {
	padding-right: 18px;
	float: inherit;
	width: 100% !important;
}

input.facetwp-search::placeholder {
    color: #ddd!important;
}

span.facetwp-input-wrap, input.facetwp-search {
width: 100%;
	
}

input.facetwp-search{
border: #eeeeee 1px solid;
	padding: 5px 15px;
	border-radius: 4px;
	
}

.facetwp-icon:before {
background: url(/wp-content/plugins/facetwp/assets/images/search_icon.png) no-repeat !important;
	background-color: #61b755!important;
	background-size: 20px !important;
	background-position: center center !important
}

i.facetwp-icon {
background-color: #61b855 !important;
	opacity: 1;
	padding: 2px 10px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}



.kolom2.wpb_column.vc_column_container {
padding-left: 15px !important;
}


.page-id-28 .col-xs-12.footer-title, .page-id-16838 .col-xs-12.footer-title {
margin-top: 32px;
}

.kolom1.wpb_column.vc_column_container {
padding-right: 30px !important;
}

section.banner_section.home_banner_section {
display: none;
}

button.facetwp-flyout-open {
margin: 15px !important;
	width: calc(100% - 30px);
	color: white;
	border: #0087d7 1px solid;
	border-radius: 10px;
	height: 32px;
	background-color: #0087d7;
}

button.facetwp-flyout-open:hover {
margin: 15px !important;
	width: calc(100% - 30px);
	color: #0087d7;
	border: #0087d7 1px solid;
	border-radius: 10px;
	height: 32px;
	background-color: #fff;
}

.facetwp-flyout-close {
font-size: 35px;
}

@media (max-width:480px){
	.training_content_section .white_bg_block {
padding: 0px;
	}
	
	h1#hoe-schrijft-u-een-verordening {
font-size: 32px;
		margin-top: 10px;
		font-weight: 800 !important;
	}
	
	.white_bg_block.veel_gezocht_block{
padding: 15px 15px 0px 15px;
	}
	
	.interessant-left .vc_column-inner, .interessant-right .vc_column-inner {
    padding-left: 4px !important;
		padding-right: 4px !important;
}
	
	.interessant-icon {

	}
	
	.page-id-16626 .vc_row.vc_column-gap-35>.vc_column_container {
    padding: 33px;
}
	
	.white_bg_block.inner-column-kolom2 {
padding: 0px
	}
	
	
	.point_style img {
max-width: 10px !important;
top: -4px !important;
left: -8px !important;
}
.page-id-28 .fwpl-layout, .page-id-16838 .fwpl-layout {
grid-template-columns: 1fr !important;
grid-gap: 10px;
}

	.page-id-28 .facetwp-template, .page-id-16838 .facetwp-template {
		width: calc(100% - 30px) !important;
		margin: 15px;
	}
}

@media (min-width: 480px) and (max-width: 767px){
	.point_style img {
			max-width: 15px !important;
		top: -6px !important;
		left: -12px !important;
	}
}


@media (min-width: 768px) and (max-width: 991px){
.point_style img {
        max-width: 25px !important;
    top: -14px !important;
    left: -20px !important;
}
}
@media screen and (max-width: 1000px) and (min-width: 768px){
.results_column_facets.wpb_column.vc_column_container{
width: calc(100% - 245px) !important;
	}
	
	.wpb_text_column.wpb_content_element.section_title {
padding-left: 55px !important;
	}
}

@media screen and (max-width: 1000px) and (min-width: 481px){
.page-id-28 .fwpl-layout, .page-id-16838 .fwpl-layout {
    grid-template-columns: 1fr !important;
}
	
	.white_bg_block.filter_column_facets.wpb_column.vc_column_container.vc_col-sm-3.vc_hidden-xs {
width: 230px !important;
	}
	
	.facetwp-template {
width: calc (100% - 30px) !important; 
		margin: 15px;
	}
}

@media (max-width: 767px){
   div#powerTip{
    display : none !important;
   }
  .responsive.version2 .multiple.slick-slide h3 a {
    font-size: 13px!important;
}
.landingspagina_block .training_blog_points p{
    color: #fff;
}

/*
Je kunt hier je eigen CSS toevoegen.

/*Edwin*/
#masterhead .site-header-wrapper .header_section.logo-wrapper .header-one-logo a img {
    max-height: 200px;
    max-width: 300px;
}
#masterhead .site-header-wrapper .header_section.logo-wrapper {
    width: 40%;
}

#masterhead .site-header-wrapper .header_section.menu-wrapper {
	width:60%;
	float:right;
}

/*Klik op het help icoon om meer te leren.
*/
.activity_content_section .white_bg_block .training_blog_points.traning_schedule {
    margin-top: 25px;
}
.page-template-template-search-php .wpsolr_facet_eventstartdate_str{
	display: none;
}

/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

@media (max-width:480px){
	.point_style img {
		max-width: 10px !important;
		top: -4px !important;
		left: -8px !important;
	}
}

@media (min-width: 480px) and (max-width: 767px){
	.point_style img {
			max-width: 15px !important;
		top: -6px !important;
		left: -12px !important;
	}
}


@media (min-width: 768px) and (max-width: 991px){
.point_style img {
        max-width: 25px !important;
    top: -14px !important;
    left: -20px !important;
}
}

@media (max-width: 767px){
   div#powerTip{
    display : none !important;
   }
}
.landingspagina_block .training_blog_points p{
    color: #fff;
}

a.mega-menu-link:before {
content: "|";
    font-size: 18px !important;
	line-height: 50px!important;
    color: #6d6e71;
	font-weight: bold !important;
    margin: 0 10px !important;
}

a.mega-menu-link {
padding: 0px !important
}

li#mega-menu-item-530 a.mega-menu-link:before, li#mega-menu-item-15855 a.mega-menu-link:before {
content: none !important;
}

#mega-menu-wrap-header-menu #mega-menu-header-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    border-radius: 0px;
    background: white;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 8px 10px 10px 10px;
	border-radius: 10px;
}


li#mega-menu-item-15568 a.mega-menu-link,
li#mega-menu-item-15855 a.mega-menu-link,
li#mega-menu-item-15569 a.mega-menu-link{
font-size: 16px !important
}


li#mega-menu-item-15579 a.mega-menu-link,
li#mega-menu-item-15580 a.mega-menu-link,
li#mega-menu-item-15581 a.mega-menu-link,
li#mega-menu-item-15582 a.mega-menu-link,
li#mega-menu-item-15594 a.mega-menu-link,
li#mega-menu-item-15595 a.mega-menu-link,
li#mega-menu-item-15599 a.mega-menu-link,
li#mega-menu-item-15598 a.mega-menu-link,
li#mega-menu-item-15571 a.mega-menu-link,
li#mega-menu-item-15583 a.mega-menu-link{
font-size: 16px !important
}

.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search_submit {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media only screen and (min-width: 768px) {
.training_listing_content_section .section_title h2 {
padding-left: 0px;
}

.direct-naar-row .vc_column-inner {
	padding-left: 0px;
}
}

@media only screen and (max-width: 768px) {
.training_content_section .white_bg_block.banner_block {
    padding: 15px 15px 0px;
    margin: 1.5%;
    width: 97%;
}}

.header-form {display: none;}

.wpsolr_facet_title{
	  font-family: OpenSansSemiBold;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #0087d7;
    margin-bottom: 15px;
    line-height: 21px;
    font-size: 19px;
    width: 100%;
    margin-top: 10px;
}

h4.filters{
	font-family: OpenSansSemiBold;
  color: #0087d7;
  margin-bottom: 20px;
  font-size: 18px;
}

.auteur-datum-row i {
    color: gray;
}

@media screen and (max-width: 767px)
.breadcrumbs_search_area .top_search .banner_search_conatiner {
    float: right!important;
}