.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul{
    position: absolute;
    left: auto !important;
    right: 0;
    width: 260px;
}
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul{
    width: 466px;
    text-align: left;
}
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul li a,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul li a{
    word-break: break-word;
    white-space: pre-wrap;
    padding: 7px 15px;
}
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul li:hover a,
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul li.active a,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul li:hover a,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul li.active a{
    color: #ffffff;
}
#res_facets label{
	font-family: OpenSansSemiBold;
    color: #0087d7;
    margin-bottom: 10px;
	font-size: 18px;
}
#wpsolr_section_facets .wpsolr_facet_title{
	font-family: OpenSansSemiBold;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #0087d7;
    margin-bottom: 8px;
    line-height: 21px;
    font-size: 16px;
    float: left;
    width: 100%;
    margin-top: 20px;
}
#wpsolr_section_facets ul{
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    padding-top: 0 !important;
}
#wpsolr_section_facets ul li div{
    margin-left: 18px;
    font-family: OpenSansRegular;
    font-weight: 400;
    color: #6d6e71;
    margin-top: 0;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    line-height: 24px;
    position: relative;
}
#wpsolr_section_facets ul li div.wpsolr_facet_checkbox:before{
    content: "";
    background: #ffffff;
    /*border-radius: 50%;*/
    height: 12px;
    width: 12px;
    position: absolute;
    border: 1px solid #6d6e71;
    left: -18px;
    top: 6px;
}
#wpsolr_section_facets ul li div.wpsolr_facet_checkbox.checked:before{
    content: "\f00c";
    font-family: fontawesome;
    /*height: 11px;
    width: 11px;
    background: #0087d7;*/
    border: 1px solid #fff;
    color: #0087d7;
    /*box-shadow: 0 0 0 1px #6d6e71;*/
}
#wpsolr_section_facets .wpsolr_facet_checkbox.checked{
    font-family: OpenSansRegular;
    position: relative;
    margin-left: 18px;
    line-height: 24px;
    margin-bottom: 0;
}
#wpsolr_section_facets .wpsolr_facet_checkbox.checked:before{
    position: absolute;
    left: -18px;
    top: 5px;
    content: "";
    height: 16px;
    width: 11px;
    background: #0087d7;
    /*border-radius: 50%;*/
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #6d6e71;
}
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul{
    position: absolute;
    left: auto !important;
    right: 0;
    width: 260px;
}
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul{
    width: 466px;
    text-align: left;
}
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul li a,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul li a{
    word-break: break-word;
    white-space: pre-wrap;
    padding: 7px 15px;
}
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul li:hover a,
.breadcrumbs_search_area .top_search .banner_search_conatiner .banner_search + ul li.active a,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul li:hover a,
.home_banner_section .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul li.active a{
    color: #ffffff;
}
#res_facets label{
    font-family: OpenSansSemiBold;
    color: #0087d7;
    margin-bottom: 10px;
    font-size: 18px;
}
#wpsolr_section_facets .wpsolr_facet_title{
	font-family: OpenSansSemiBold;
    color: #000;
    padding-bottom: 2px;
    border-bottom: 1px solid #0087d7;
    margin-bottom: 8px;
    line-height: 21px;
    font-size: 16px;
    float: left;
    width: 100%;
    /*margin-top: 20px;*/
    margin-top: 10px;
}
#wpsolr_section_facets ul{
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    padding-top: 0 !important;
}
#wpsolr_section_facets ul li div{
    margin-left: 24px;
    font-family: OpenSansRegular;
    font-weight: 400;
    color: #6d6e71;
    margin-top: 0;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    line-height: 24px;
    position: relative;
}
#wpsolr_section_facets ul li div.wpsolr_facet_checkbox:before{
    content: "";
    background: #ffffff;
    height: 17px;
    width: 17px;
    position: absolute;
    border: 1px solid #6d6e71;
    left: -24px;
    top: 5px;
}
#wpsolr_section_facets ul li div.wpsolr_facet_checkbox.checked:before{
    content: "\f00c";
    font-family: fontawesome;
    border: 1px solid #fff;
    color: #0087d7;
    line-height: 14px;
    font-size: 14px;
    background: none;
    width: 15px;
    left: -23px;
}
#wpsolr_section_facets .wpsolr_facet_checkbox.checked{
    font-family: OpenSansRegular;
    position: relative;
    margin-left: 24px;
    line-height: 24px;
    margin-bottom: 0;
}
#wpsolr_section_facets .wpsolr_facet_checkbox.checked:before{
    position: absolute;
    content: "\f00c";
    font-family: fontawesome;
    border: 1px solid #fff;
    color: #0087d7;
    line-height: 14px;
    font-size: 14px;
    background: none;
    width: 15px;
    left: -23px;
}

/* search page */
.training_content_section.search_container .white_bg_block.banner_block{
    padding: 15px;
}
.training_content_section.search_container .white_bg_block.banner_block .p_misc,
.training_content_section.search_container .white_bg_block.banner_block .pauthor,
.training_content_section.search_container .white_bg_block.banner_block .pdate,
.training_content_section.search_container .white_bg_block.banner_block hr,
.training_content_section.search_container .white_bg_block.banner_block br{
    display: none;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper{
    display: block;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_left,
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right{
    display: inline-block;
    float: left;
    width: 75%;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right{
    width: 25%;
    color: #0087d7;
    padding-left: 5%;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right .acf_icon{
    margin-top: 30px;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right .acf_icon > div{
    display: table;
    width: 100%;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right .acf_icon div span:first-child{
    margin-right: 3px;
    width: 16px;
    display: table-cell;
}
.training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right .acf_icon div span:last-child{
    font-size: 12px;
    display: table-cell;
    word-break: break-word;
}
.training_content_section.search_container .white_bg_block.banner_block .p_title a{
    font-family: OpenSansSemiBold;
    font-size: 18px;
}
.training_content_section.search_container .white_bg_block.banner_block .p_title a:hover{
    color: #0087d7;
}
.training_content_section.search_container .white_bg_block.banner_block .p_title{
    margin-bottom: 5px;
}
.training_content_section.search_container .white_bg_block.banner_block .p_content{
    font-family: OpenSansLight;
    color: #000;
    text-align: left;
}
.training_content_section.search_container .white_bg_block .box-top-right-icon{
    color: #fff;
    min-width: 190px;
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_left{
        width: 70%;
    }
    .training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right{
        width: 30%;
    }
    .training_content_section.search_container .white_bg_block .box-top-right-icon{
        min-width: 130px;
    }
}
@media screen and (max-width: 767px){
    .training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_left,
    .training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right{
        width: 100%;
        padding-left: 0;
    }
    .training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper .search_content_right .acf_icon{
        margin-top: 10px;
    }
    .training_content_section.search_container .choose_training_area{
        max-width: 380px;
    }
    .training_content_section.search_container .white_bg_block .box-top-right-icon{
        min-width: 120px;
    }
    .training_content_section.search_container .white_bg_block.banner_block .search_content_wrapper{
        float: left;
        margin-top: 20px;
    }
}
/* search page pagination */
.training_content_section.search_container .paginate_div{
    width: 75%;
    float: left;
    padding: 0 15px;
    margin-bottom: 20px;
}
.training_content_section.search_container .paginate_div ul li a{
    color: #6d6e71;
    font-family: OpenSansSemiBold;
    border: 0 !important;
    border-right: 1px solid #6d6e71 !important;
}
.training_content_section.search_container .paginate_div ul li:last-child a{
    border-right: 0 !important;
}
.training_content_section.search_container .paginate_div ul li a:hover{
    color: #0087d7;
}
.training_content_section.search_container .stimulanz_total_search_count .res_info .infor{
    color: #0087d7;
    padding-left: 0;
    font-size: 25px;
    font-family: OpenSansRegular;
    display: inline-block;
    float: left;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .training_content_section.search_container .paginate_div{
        width: 66.6666666667%;
    }
}
@media screen and (max-width: 767px){
    .training_content_section.search_container .paginate_div{
        width: 100%;
    }
}
/* search page banner section */
.home_banner_section.search_page{
    padding-bottom: 20px;
}
.home_banner_section.search_page .banner_image{
    height: auto;
    background: none;
    float: left;
    margin: 0 auto;
    text-align: center;
}
.banner_section.search_page .banner_image .banner_image_text{
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 30px;
}
.banner_section.search_page .banner_image .banner_image_text .desc{
    width: 100%;
}
.home_banner_section.search_page .banner_image .banner_search_wrapper{
    position: relative;
    bottom: 0;
    left: 0;
}
.home_banner_section.search_page .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search{
    float: none;
    vertical-align: top;
}
.home_banner_section.search_page .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search_submit{
    float: none;
    vertical-align: top;
    margin-left: -5px;
}
.banner_section.search_page .banner_image_text_mobile{
    display: none;
}
@media screen and (max-width: 767px){
    .banner_section.search_page .banner_image .banner_image_text{
        display: block;
        padding: 0 15px;
    }
    .home_banner_section.search_page{
        padding-top: 20px;
    }
    .home_banner_section.search_page .banner_image .banner_search_wrapper{
        padding-top: 0;
    }
}

/* checkout page - checkbox and text alignment */
body.checkout .mc4wp-checkbox label{
    margin-left: 3px; 
}
body.checkout .mc4wp-checkbox label span{
    margin-left: 7px;
}
body.checkout #order_review_heading{
    margin: 20px 0;
    margin-left: 5px;
}
body.checkout .woocommerce-shipping-fields{
    margin-left: 23px;
}
body.checkout .woocommerce-shipping-fields h3#ship-to-different-address{
    color: #231f20 !important;
    margin-bottom: 0;
}
body.checkout .terms #terms + span{
    margin-left: 20px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
}
body.checkout .woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
    line-height: 25px;
    border-radius: 10px;
}

/* search page dropdown position */
.home_banner_section.search_page .banner_image .banner_search_wrapper .banner_search_conatiner .banner_search + ul{
    left: 0 !important;
    margin: 0 auto;
}

/* hide all results from product and search page */
.fixed-container-wrapper.product-page #wpsolr_section_facets #wpsolr_remove_facets, 
.search_container #res_facets #wpsolr_remove_facets{
    display: none;
}