#masterfooter{
    background: $white;
    position: relative;
    .footer-title{
        color: $primary;
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 30px;
        font-family: CaeciliaRoman;
        @media screen and (max-width: $break-small){
            font-size: 25px;
            line-height: 33px;
            margin-bottom: 20px;
        }
    }
    .footer-head{
        .footer-head-container{
            background: $primary;
            border-bottom-right-radius: 40px;
            width: 100%;
            height: 40px;
            float: left;
            @media screen and (max-width: $break-medium){
                height: auto;
            }
            .footer-head-col{
                display: inline-block;
                float: left;
                color: $white;
                font-size: 13px;
                line-height: 38px;
                width: 40%;
                text-align: center;
                div{
                    display: inline-block;
                    float: left;
                    text-align: left;
                    @media screen and (max-width: $break-medium){
                        text-align: center;
                    }
                    div{
                        margin-right: 10px;
                        max-height: 34px;
                        img{
                            max-height: 34px;
                        }
                    }
                    i{
                        &:before{
                            font-size: 28px;
                            line-height: 40px;
                            margin-right: 10px;
                            @media screen and (max-width: $break-medium){
                                margin-right: 0px;
                            }
                        }
                    }
                    &:last-child{
                        @media screen and (max-width: $break-small){
                            width: 75%;
                            line-height: 20px;
                            text-align: left;
                        }
                        @media screen and (max-width: $break-xs-small){
                            float: none;
                        }
                    }
                }
                &:first-child{
                    padding-left: 15px;
                }
                &:nth-child(2){
                    width: 16%;
                    @media screen and (max-width: $break-medium){
                        width: 100%;
                    }
                }
                &:last-child{
                    width: 44%;
                    float: right;
                    text-align: right;
                    padding-right: 30px;
                    @media screen and (max-width: $break-medium){
                        text-align: left;
                        float: left;
                        width: 100%;
                    }
                    div{
                        float: none;
                        @media screen and (max-width: $break-medium){
                            float: left;
                        }
                        &:last-child{
                            float: right;
                            @media screen and (max-width: $break-medium){
                                float: left;
                            }
                        }
                    }
                }
                @media screen and (max-width: $break-medium){
                    display: block;
                    width: 100%;
                    padding-left: 15px;
                    margin: 5px 0;
                    div{
                        &:first-child{
                            min-width: 48px;
                            max-width: 48px;
                            text-align: center;
                            img{
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-above{
        padding-bottom: 25px;
        .footer-col{
            h3{
                margin: 12px 0 10px 0;
                color: $dark-gray;
                font-size: 19px;
                font-family: OpenSansRegular;
            }
            ul{
                list-style-type: none;
                padding-left: 0px;
                margin-bottom: 0px;
                li{
                    a{
                        color: $gray;
                        font-family: OpenSansRegular;
                        font-size: 12px;
                        line-height: 23px;
                        &:hover, &:focus{
                            text-decoration: none;
                            color: $primary;
                        }
                    }
                    &.footer_producten_link{
                        a{
                            color: $primary;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        &:before{
                            font-size: 10px;
                            margin-right: 5px;
                            color: $primary;
                        }
                    }
                    &.current-menu-item{
                        a{
                            color: $primary;
                        }
                    }
                }
            }
            &:last-child{
                p{
                    color: $gray;
                    font-family: OpenSansRegular;
                    font-size: 12px;
                    line-height: 23px;
                    margin-bottom: 0px;
                    a{
                        color: $gray;
                        &:hover{
                            text-decoration: none;
                            color: $primary;
                        }
                        &:focus{
                            text-decoration: none;
                            color: $gray;
                        }
                    }
                }
                .contact_us{
                    color: $primary;
                    font-size: 12px;
                    line-height: 23px;
                    display: inline-block;
                    i{
                        &:before{
                            font-size: 10px;
                            margin-right: 5px;
                            color: $primary;
                        }
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .contact_us_icon{
                    margin-top: 5px;
                    a{
                        display: inline-block;
                        .icon{
                            background: url(#{$path-to-image}/icon_sprite.png) 0 0;
                            width: 45px;
                            height: 51px;
                        }
                    }
                }
            }
        }
    }
    .footer-below{
        .footer-below-container{
            border-top: 2px solid $light-gray;
            padding: 10px 0 30px 0;
            height: auto;
            float: left;
            width: 100%;
            .footer_below_left{
                display: inline-block;
                float: left;
                height: 30px;
                margin-left: 10px;
                @media screen and (max-width: $break-small){
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .widget_text{
                    display: inline-block;
                    float: left;
                    div{
                        p{
                            margin-bottom: 0px;
                            color: $gray;
                            font-family: OpenSansRegular;
                            font-size: 12px;
                            line-height: 30px;
                        }
                    }
                }
                .bottom_footer_menu{
                    display: inline-block;
                    float: left;
                    @media screen and (max-width: $break-medium){
                        display: block;
                    }
                    ul{
                        margin-left: 0px;
                        margin-bottom: 0px;
                        li{
                            padding-left: 0px;
                            padding-right: 0px;
                            a{
                                color: $gray;
                                font-family: OpenSansRegular;
                                font-size: 12px;
                                line-height: 30px;
                                &:hover, &:focus{
                                    text-decoration: none;
                                    color: $primary;
                                }
                            }
                            &:before{
                                content: '|';
                                font-size: 12px;
                                line-height: 23px;
                                color: $gray;
                                font-family: OpenSansRegular;
                                margin: 0 3px;
                            }
                        }
                    }
                }
            }
            .footer_below_right{
                display: inline-block;
                float: right;
                height: 30px;
                padding-right: 10px;
                @media screen and (max-width: $break-small){
                    display: block;
                    float: left;
                    margin-top: 10px;
                    margin-left: 10px;
                    padding-right: 0px;
                }
                .footer_below_social_media{
                    display: inline-block;
                    float: left;
                    margin-right: 10px;
                    a{
                        height: 30px;
                        width: 30px;
                        background: $light-gray;
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        border-radius: 50%;
                        i{
                            color: $white;
                            line-height: 30px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}