#masterhead{
    background: $white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    @media screen and (max-width: $break-small){
        position: fixed;
        width: 100%; 
        height: 70px;
        z-index: 998;
        top: 0;
    }
    &:after{
        height: 35px;
        background: $primary;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        z-index: 1;
        @media screen and (max-width: $break-small){
            display: none;
        }
    }
    .site-header-wrapper{
        position: relative;
        z-index: 9;
        .header_section{
            display: inline-block;
            vertical-align: middle;
            height: 90px;
            float: left;
            @media screen and (max-width: $break-small){
                height: 70px;
            }
            &.logo-wrapper{
                width: 15%;
                .header-one-logo{
                    padding-top: 5px;
                    height: 90px;
                    @media screen and (max-width: $break-small){
                        height: 70px;
                    }
                    a{
                        display: block;
                        max-height: 80px;
                        @media screen and (max-width: $break-small){
                            max-height: 70px;
                            height: 60px;
                            width: 60px;
                        }
                        img{
                            max-height: 80px;
                            max-width: 80px;
                            @media screen and (max-width: $break-small){
                                max-height: 70px;
                                max-width: 70px;
                            }
                        }
                    }
                }
            }
            &.menu-wrapper{
                width: 85%;
                @media screen and (max-width: $break-small){
                    width: 70%;
                    float: right;
                }
                .top-menu-wrap{
                    display: block;
                    height: 35px;
                    text-align: right;
                    width: 100%;
                    @media screen and (max-width: $break-small){
                        text-align: right;
                        width: 100%;
                        /*padding-right: 60px;*/
                    }
                    .top-menu-conatiner{
                        background: $primary;
                        border-top-left-radius: 35px;
                        width: 72%;
                        float: right;
                        @media screen and (min-width: $ipad-portait) and (max-width: $break-large-medium){
                            width: auto;
                            padding-left: 30px;
                        }
                        @media screen and (max-width: $break-small){
                            float: left;
                            width: 100%;
                            background: transparent;
                        }
                        .header_section_top{
                            display: inline-block;
                            vertical-align: middle;
                            height: 35px;
                            @media screen and (max-width: $break-small){
                                height: 70px;
                            }
                            &.top_menu_wraper{
                                @media screen and (max-width: $break-small){
                                    display: none;
                                }
                            }
                            #top_menu_header_wrapper{
                                margin-left: 0px;
                                margin-bottom: 0px;
                                li{
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    float: left;
                                    a{
                                        font-size: 12px;
                                        color: $white;
                                        font-family: OpenSansLight;
                                        text-transform: capitalize;
                                        line-height: 33px;
                                        &:hover, &:focus{
                                            text-decoration: none;
                                            color: $white;
                                        }
                                    }
                                    &:after{
                                        content: '|';
                                        font-size: 13px;
                                        color: $white;
                                        margin: 0 6px;
                                        @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                                            margin: 0 5px;
                                        }
                                    }
                                    &:last-child{
                                        a{
                                            // font-size: 14px;
                                            // font-family: OpenSansSemiBold;
                                        }
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &.top-menu-cart{
                                margin: 0 15px;
                                @media screen and (max-width: $break-small){
                                    margin: 0;
                                }
                                .stimulanz_mobilecart{
                                    @media screen and (min-width: $ipad-portait){
                                        display: none;
                                    }
                                    a{
                                        margin-right: 10px;
                                    }
                                }
                                a{
                                    height: 25px;
                                    width: 25px;
                                    background: $white;
                                    border-radius: 50%;
                                    display: block;
                                    margin: 0 auto;
                                    text-align: center;
                                    line-height: 25px;
                                    margin-top: 4px;
                                    padding-right: 2px;
                                    @media screen and (max-width: $break-small){
                                        margin-top: 0px;
                                        line-height: 80px;
                                        height: auto;
                                        width: auto;
                                        background: transparent;
                                    }
                                    #cart-contents{
                                        color: $primary;
                                        @media screen and (max-width: $break-small){
                                            background: $primary;
                                            color: $white;
                                            font-size: 11px;
                                            padding: 5px 6px;
                                            border-radius: 50%;
                                        }
                                    }
                                    i{
                                        @media screen and (max-width: $break-small){
                                            font-size: 25px;
                                        }
                                        &:before{
                                            color: $primary;
                                        }
                                    }
                                    &:hover, &:focus{
                                        text-decoration: none;
                                    }
                                }
                                #mode-mini-cart{
                                    right: 0px;
                                    left: auto;
                                    min-width: 240px;
                                    padding-top: 15px;
                                    ul{
                                        list-style: none;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        max-height: 360px;
                                        overflow: auto;
                                        li{
                                            margin-bottom: 10px;
                                            a{
                                                margin-top: 0px;
                                                display: inline-block;
                                                float: left;
                                                height: auto;
                                                width: 90px;
                                                margin-right: 10px;
                                                line-height: 16px;
                                                font-size: 12px;
                                                font-weight: normal;
                                                font-family: OpenSansSemiBold;
                                                &.remove{
                                                    height: auto;
                                                    width: 23px;
                                                    font-size: 20px;
                                                    background: $field-border;
                                                    line-height: 23px;
                                                }
                                                img{
                                                    width: auto;
                                                }
                                            }
                                            .quantity{
                                                line-height: 16px;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    .total{
                                        padding: 0 15px;
                                        color: $dark-gray;
                                        font-family: OpenSansSemiBold;
                                        margin: 0 auto;
                                        text-align: center;
                                        width: 90%;
                                        padding-top: 10px;
                                        border-top: 1px solid $field-border;
                                    }
                                    .buttons{
                                        padding: 0 15px;
                                        float: left;
                                        width: 100%;
                                        a{
                                            display: inline-block;
                                            float: left;
                                            text-align: center;
                                            width: 44%;
                                            vertical-align: top;
                                            margin-top: 0;
                                            color: $white;
                                            border: 1px solid $primary;
                                            background: $primary;
                                            font-family: OpenSansSemiBold;
                                            padding: 0 12px;
                                            transition: all .5s ease;
                                            height: 30px;
                                            border-radius: 6px;
                                            margin: 10px 5px 0px 5px;
                                            font-size: 13px;
                                            line-height: 28px;
                                            &:hover{
                                                color: $primary;
                                                background: $white;
                                            }
                                        }
                                    }
                                }
                                .dropdown{
                                    &.minicart{
                                        @media screen and (max-width: $break-small){
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &.user-status{
                                a{
                                    color: $white;
                                    font-size: 11px;
                                    line-height: 33px;
                                    font-family: OpenSansLight;
                                    @media screen and (max-width: $break-small){
                                        color: $primary;
                                        font-size: 23px;
                                        line-height: 70px;
                                    }
                                    &:hover, &:focus{
                                        text-decoration: none;
                                    }
                                    i{
                                        margin-left: 5px;
                                    }
                                    span{
                                        @media screen and (max-width: $break-small){
                                            display: none;
                                        }
                                    }
                                }
                                .dropdown-menu{
                                    right: 0;
                                    left: auto;
                                    li{
                                        a{
                                            color: $gray;
                                            font-size: 14px;
                                            line-height: 22px;
                                            font-family: OpenSansRegular;
                                            &:hover, &:focus{
                                                text-decoration: none;
                                            }
                                            i{
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .js-slideout-toggle{
                            /*display: inline-block;
                            font-size: 25px;
                            vertical-align: middle;
                            margin-left: 15px;
                            cursor: pointer;
                            i{
                                color: $primary;
                            }*/
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 15px;
                            width: 32px;
                            height: 25px;
                            position: relative;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .5s ease-in-out;
                            -moz-transition: .5s ease-in-out;
                            -o-transition: .5s ease-in-out;
                            transition: .5s ease-in-out;
                            cursor: pointer;
                            span{
                                display: block;
                                position: absolute;
                                height: 4px;
                                width: 100%;
                                background: $primary;
                                border-radius: 9px;
                                opacity: 1;
                                left: 0;
                                -webkit-transform: rotate(0deg);
                                -moz-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                                transform: rotate(0deg);
                                -webkit-transition: .25s ease-in-out;
                                -moz-transition: .25s ease-in-out;
                                -o-transition: .25s ease-in-out;
                                transition: .25s ease-in-out;
                                &:nth-child(1) {
                                    top: 0px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                }
                                &:nth-child(2) {
                                    top: 9px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                }
                                &:nth-child(3) {
                                    top: 18px;
                                    -webkit-transform-origin: left center;
                                    -moz-transform-origin: left center;
                                    -o-transform-origin: left center;
                                    transform-origin: left center;
                                }
                            }
                            &.open{
                                span{
                                    &:nth-child(1) {
                                        -webkit-transform: rotate(45deg);
                                        -moz-transform: rotate(45deg);
                                        -o-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                        top: -2px;
                                        left: 2px;
                                    }
                                    &:nth-child(2) {
                                        width: 0%;
                                        opacity: 0;
                                    }
                                    &:nth-child(3) {
                                        -webkit-transform: rotate(-45deg);
                                        -moz-transform: rotate(-45deg);
                                        -o-transform: rotate(-45deg);
                                        transform: rotate(-45deg);
                                        top: 21px;
                                        left: 2px;
                                    }
                                }
                            }
                            @media screen and (min-width: $ipad-portait){
                                display: none;
                            }
                        }
                    }
                }
                .main-menu-wrap{
                    display: block;
                    height: 55px;
                    float: right;
                    @media screen and (max-width: $break-small){
                        display: none;
                    }
                    #site-navigation-wrap{
                        .menu-header-menu-bar-container{
                            ul{
                                margin-left: 0px;
                                li{
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    float: left;
                                    a{
                                        font-size: 15px;
                                        color: $black;
                                        font-family: OpenSansSemiBold;
                                        text-transform: capitalize;
                                        border-bottom: 2px solid $white;
                                        @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                                            font-size: 13px;
                                        }
                                        &:hover, &:focus{
                                            text-decoration: none;
                                            border-bottom: 2px solid $primary;
                                            color: $primary;
                                        }
                                    }
                                    &.current-menu-item{
                                        a{
                                            border-bottom: 2px solid $primary;
                                            color: $primary;
                                        }
                                    }
                                    &:after{
                                        content: '|';
                                        font-size: 15px;
                                        color: $gray;
                                        margin: 0 8px;
                                        @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                                            margin: 0 5px;
                                        }
                                    }
                                    &:last-child{
                                        &:after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* responsive menu */
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}
.slideout-open .slideout-menu{
  display: block;
}
.menu{
    &.slideout-menu{
        @media screen and (min-width: $ipad-portait){
            display: none;
        }
        background: $primary;
        ul{
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            border: 1px solid $primary;
            border-bottom: 0;
            margin-top: 70px;
            li{
                padding: 10px 15px;
                a{
                    color: $white;
                    padding-left: 0;
                    font-size: 14px;
                    &:hover, &:focus{
                        text-decoration: none;
                    }
                }
                &:last-child, &:nth-last-child(2){
                    display: none;
                }
                &.current-menu-item{
                    background: $white;
                    a{
                        color: $primary;
                    }
                }
            }
        }
    }
}

/* breadcrumbs and search in top header */
.breadcrumbs_search_area{
    background: $white;
    padding-top: 90px;
    @media screen and (max-width: $break-small){
        height: auto;
        /*padding-top: 25px;*/
        padding-top: 75px;
    }
    .breadcrumbs_wrapper{
        width: 64%;
        display: inline-block;
        float: left;
        padding-left: 18%;
        color: $field-border;
        font-size: 12px;
        a{
            span{
                color: $field-border;
                font-size: 12px;
                margin-right: 5px;
                line-height: 15px;
            }
            &:hover{
                span{
                    color: $primary;
                }
                text-decoration: none;
            }
        }
        @media screen and (max-width: $break-medium){
            padding-left: 15%;
        }
        @media screen and (max-width: $break-small){
            width: 100%;
            padding-left: 0;
            display: block;
            padding-bottom: 5px;
        }
    }
    .top_search{
        height: 40px;
        position: relative;
        width: 36%;
        display: inline-block;
        float: right;
        @media screen and (max-width: $break-small){
            float: left;
            width: 100%;
            display: block;
            margin-top: 5px;
        }
        .banner_search_conatiner{
            float: right;
            @media screen and (max-width: $break-small){
                float: left;
            }
            .banner_search{
                display: inline-block;
                float: left;
                background: $white !important;
                background-color: $white !important;
                border-radius: 8px;
                float: left;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                max-width: 220px;
                width: 220px;
                max-height: 30px;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
            }
            .banner_search::-webkit-input-placeholder{
                color: $light-gray;
            }
            .banner_search::-moz-placeholder{
                color: $light-gray;
            }
            .banner_search:-ms-input-placeholder{ 
                color: $light-gray;
            }
            .banner_search:-moz-placeholder{
                color: $light-gray;
            }
            .banner_search_submit{
                display: inline-block;
                float: left;
                background: $light-green;
                width: auto;
                box-shadow: none;
                border: 0;
                padding: 5px 10px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                cursor: pointer;
                height: 30px;
                i{
                    color: $white;
                    font-size: 18px;
                }
            }
        }
    }
}
/* hide breadcrumbs and search section for home page */
.home{
    .breadcrumbs_search_area{
        display: none;
    }
}
