// =============================================================================
// Home page
// =============================================================================

/* banner section */
.home_banner_section{
    padding-top: 15px;
    @media screen and (max-width: $break-small){
        padding-top: 70px;
    }
    .container{
        @media screen and (max-width: $break-small){
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .banner_image{
        height: 520px;
        background: url(#{$path-to-image}/homepage_banner_image.jpg) no-repeat;
        background-size: cover;
        @media screen and (max-width: $break-small){
            height: 250px;
        }
        @media screen and (max-width: $portait-phone){
            height: 185px;
        }
        .banner_search_wrapper{
            height: 45px;
            position: absolute;
            width: auto;
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
            bottom: 30px;
            left: 352px;
            @media screen and (min-width: $break-medium-ipad) and (max-width: $break-large-medium){
                left: 252px;
            }
            @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                left: 142px;
            }
            @media screen and (max-width: $break-small){
                position: relative;
                left: 0;
                padding-top: 290px;
                float: left;
                width: 100%;
                padding-bottom: 10px;
            }
            @media screen and (max-width: $portait-phone){
                padding-top: 225px;
            }
            .banner_search_conatiner{
                float: none;
                .banner_search{
                    display: inline-block;
                    float: left;
                    background: $white !important;
                    background-color: $white !important;
                    border-radius: 2px;
                    float: left;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    width: 400px;
                    height: 45px;
                    font-size: 17px;
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }
                    @media screen and (max-width: $break-small){
                        float: none;
                        width: 240px;
                    }
                }
                .banner_search::-webkit-input-placeholder{
                    color: $dark-gray;
                    font-family: OpenSansSemiBold;
                }
                .banner_search::-moz-placeholder{
                    color: $dark-gray;
                    font-family: OpenSansSemiBold;
                }
                .banner_search:-ms-input-placeholder{ 
                    color: $dark-gray;
                    font-family: OpenSansSemiBold;
                }
                .banner_search:-moz-placeholder{
                    color: $dark-gray;
                    font-family: OpenSansSemiBold;
                }
                .banner_search_submit{
                    display: inline-block;
                    float: left;
                    background: $orange;
                    width: auto;
                    box-shadow: none;
                    border: 0;
                    padding: 8px 20px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    cursor: pointer;
                    height: 45px;
                    i{
                        color: $white;
                        font-size: 28px;
                    }
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }
                    @media screen and (max-width: $break-small){
                        float: none;
                        vertical-align: top;
                        margin-left: -5px;
                    }
                }
            }
        }
    }
    .banner_video{
        width: 100%;
        height: 400px;
        position: relative;
    }
}

/* blog and news section */
.blogs_news_section{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    /*margin-top: 25px;*/
    .no-padding-xs{
        padding-left: 0px;
        padding-right: 0px;
    }
    .each_block{
        display: block;
        width: 100%;
        margin: 10px 0;
        .date{
            display: block;
            color: $gray;
            font-size: 10px;
            line-height: 15px;
        }
        .title{
            display: block;
            color: $dark-gray;
            font-size: 13px;
            line-height: 20px;
            p{
                margin-bottom: 0px;
                font-size: 13px;
                line-height: 20px;
            }
            a{
                color: $primary;
                font-size: 13px;
                line-height: 20px;
                &:hover, &:focus{
                    text-decoration: underline;
                }
            }
        }
    }
    .news_block{
        form{
            p{
                margin-bottom: 0px;
                input[type="email"]{
                    border-radius: 8px;
                    border: 1px solid $light-gray !important;
                    height: 28px;
                    font-size: 13px;
                    padding: 0 10px;
                    width: 100%;
                    margin: 7px 0;
                    box-shadow: none;
                    outline: none;
                    background: transparent !important;
                }
                input::-webkit-input-placeholder{
                    color: $gray;
                    font-family: OpenSansRegular;
                }
                input::-moz-placeholder{
                    color: $gray;
                    font-family: OpenSansRegular;
                }
                input:-ms-input-placeholder{ 
                    color: $gray;
                    font-family: OpenSansRegular;
                }
                input:-moz-placeholder{
                    color: $gray;
                    font-family: OpenSansRegular;
                }
            }
        }
    }
    .theme_pages{
        margin-left: 0px;
        margin-bottom: 0;
        li{
            width: 49%;
            display: inline-block;
            vertical-align: top;
            padding-left: 0;
            padding-right: 10px;
            &:nth-child(2n+1){
                clear: both;
            }
            a{
                font-size: 13px;
                color: $dark-gray;
                line-height: 21px;
                word-break: break-word;
                &:hover, &:focus{
                    text-decoration: none;
                    color: $primary;
                }
            }
            &:before{
                margin-right: 5px;
                color: $primary;
                font-size: 10px;
                line-height: 21px;
                content: "\f054";
                font-family: fontawesome;
            }
        }
    }
    .blogs_wrapper{
        .each_block{
            .date{
                line-height: 20px;
            }
            .title{
                margin: 10px 0;
            }
        }
        .banner_image{
            max-height: 180px;
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
    .white_bg_block{
        .box-top-right-icon{
            color: $white;
        }
    }
}

/* experts and organization section */
.stimulansz_experts_organization{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    .block_image{
        background: url(#{$path-to-image}/experts.jpg) no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        background-position: bottom center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @media screen and (max-width: $break-small){
            min-height: 150px;
            max-height: 200px;
        }
    }
    .each_org_icon{
        display: inline-block;
        width: 32.33%;
        vertical-align: middle;
        height: auto;
        @media screen and (max-width: $break-xs-small){
            width: 49%;
        }
        &:nth-child(3n+1){
            clear: both;
            @media screen and (max-width: $break-small){
                clear: none;
            }
        }
        &:nth-child(2n+1){
            @media screen and (max-width: $break-xs-small){
                clear: both;
            }
        }
        a{
            float: left;
        }
        img{
            max-height: 70px;
            margin-top: 10px;
        }
    }
    .expert_bg{
        background-image: url(#{$path-to-image}/expert1.jpg);
        background-repeat: no-repeat;
        background-position: bottom right;
        .equal-block{
            padding: 15px 0;
            &.activity{
                width: 75%;
                line-height: 23px;
                font-size: 14px;
                @media screen and (max-width: $break-small){
                    min-height: auto;
                }
            }
        }
        .expert_contact{
            padding-bottom: 15px;
            line-height: 23px;
            font-size: 14px;
            a{
                color: $dark-gray;
                font-size: 14px;
                line-height: 23px;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    a{
        display: block;
    }
}

// =============================================================================
// Training page
// =============================================================================

/* banner */
.training_banner{
    .banner_image{
        height: 320px;
        background: url(#{$path-to-image}/training_banner.jpg) no-repeat;
        background-size: cover;
        @media screen and (max-width: $break-small){
            height: 250px;
        }
        @media screen and (max-width: $portait-phone){
            height: 185px;
        }
        .banner_image_text{
            position: absolute;
            left: auto;
            right: 18%;
            top: 50%;
            color: $primary;
            font-size: 14px;
            font-family: OpenSansLight;
            width: 37%;
            line-height: 24px;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            @media screen and (max-width: $break-medium){
                right: 5%;
            }
            @media screen and (max-width: $break-small){
                width: 90%;
            }
        }
    }
}

// =============================================================================
// Training Listing page
// =============================================================================

/* banner */
.training_listing_banner_section{
    padding-top: 15px;
/*    @media screen and (max-width: $break-small){
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
    }*/
    .container{
        @media screen and (max-width: $break-small){
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .banner_image{
        /*height: 520px;*/
        height: 350px;
        background: url(#{$path-to-image}/training_listing_banner.jpg) no-repeat;
        background-size: cover;
        @media screen and (max-width: $break-small){
            height: 250px;
        }
        @media screen and (max-width: $portait-phone){
            height: 185px;
        }
        .banner_image_text{
            width: 50%;
            @media screen and (max-width: $break-medium){
                width: 72%;
            }
            @media screen and (max-width: $break-small){
                width: 100%;
            }
            .desc{
                width: 55%;
            }
        }
    }
}

/* content */
.training_listing_content_section{
    .section_title{
        h2{
            padding-left: 10px;
            margin-top: 10px;
            color: $primary;
            font-family: OpenSansRegular;
            margin-bottom: 15px;
        }
    }
    &.training_content_section{
        .choose_training_area{
            .training_block{
                .white_bg_block{
                    .box-top-right-icon{
                        background: $primary;
                    }
                    .training_blog_points{
                        &.traning_schedule{
                            span{
                                &:first-child, &:last-child{
                                    color: $primary;
                                }
                                &:first-child{
                                    width: 20px;
                                }
                                &.reviews{
                                    background: $primary;
                                    color: $white;
                                    font-size: 8px;
                                    line-height: 20px;
                                    border-radius: 50%;
                                    width: 20px;
                                }
                            }
                        }
                    }
                } 
            } 
        } 
    } 
    .traning_schedule{
        span{
            &:first-child, &:last-child{
                color: $primary;
            }
        }
    }
}

// =============================================================================
// Activity page
// =============================================================================

/* content */
.activity_content_section{
    padding-bottom: 25px;
    .left_section{
        /*padding-top: 5px;*/
    }
    .white_bg_block{
        .training_blog_points{
            &.traning_schedule{
                margin-top: 0px;
                span{
                    &:first-child{
                        width: 18px;
                        margin: 0 auto;
                        text-align: center;
                        margin-right: 4px;
                    }
                    a{
                        color: $white;
                        line-height: 21px;
                        font-size: 11px;
                    }
                }
            }
        }
        .stimulansz_single_shop_cart{
            .stock, .quantity{
                display: none;
            }
            button{
                &.single_add_to_cart_button{
                    -webkit-box-shadow: none;
                    font-size: 13px;
                    line-height: 35px;
                    font-family: OpenSansSemiBold;
                    padding: 0 12px;
                    margin: 5px 0;
                    outline: none;
                    transition: all .5s ease;
                    color: $orange;
                    border: 1px solid $white;
                    background: $white;
                    display: block;
                    border-radius: 6px;
                    &:hover{
                        background: transparent;
                        color: $white;
                    }
                }
            }
        }
    }
    .divide_green_seprator{
        margin: 22px 10px;
        border: 1px solid $light-green;
    }
}

// =============================================================================
// Account pages
// =============================================================================
.my-account{
    .fixed-container-wrapper{
        padding-top: 25px;
        #customer_login{
            h2{
                color: $primary;
            }
        }
    }
}

// =============================================================================
// Product listing page - grid and list view
// =============================================================================
.product_listing_section{
    .woocommerce-products-header{
        display: none;
    }
    .stimulanz_results_count{
        padding-top: 10px;
        .stimulanz_total_count{
            color: $primary;
            padding-left: 15px;
            font-size: 25px;
            font-family: OpenSansRegular;
            display: inline-block;
            float: left;
        }
        .stimulanz_total_count + div{
            display: inline-block;
            float: left;
            vertical-align: top;
        }
        .stimulanz_shop_pagination, .woocommerce-pagination, .woocommerce-pagination + div{
            display: inline-block;
            float: left;
            vertical-align: top;
        }
        .stimulanz_shop_pagination{
            float: right;
            @media screen and (max-width: $landscape-phone){
                float: left;
                width: 100%;
                margin-top: 10px;
                padding-left: 15px;
                margin-bottom: 10px;
            }
        }
        .woocommerce-pagination{
            width: auto;
        }
        .gridlist-toggle{
            margin: 0 !important;
            padding: 0 !important;
            margin-left: 10px !important;
        }
    }
    .woocommerce-ordering{
        display: none !important;
    }
    .gridlist-toggle{
        a{
            color: $black;
            background-color: $light-gray;
            padding: 7px;
            span{
                font-size: 18px;
            }
            &.active{
                color: $white;
                background-color: $primary;
            }
            &:last-child{
                margin-left: 10px;
            }
        }
    }
    .woocommerce-pagination{
        ul{
            &.page-numbers{
                margin-top: 0;
                padding-top: 4px !important;
            }
        }
    }
    ul{
        padding-top: 10px !important;
        @media screen and (max-width: $break-small){
            margin-bottom: 0 !important;
        }
        &.products{
            li{
                &.product{
                    margin-bottom: 20px;
                    margin-left: 0px !important;
                    margin-right: 0px !important;
                    width: 33.33% !important;
                    @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                        width: 50% !important;
                    }
                    @media screen and (max-width: $portait-phone){
                        width: 100% !important;
                    }
                    hr{
                        display: none;
                    }
                    a{
                        h2{
                            line-height: 25px;
                            font-size: 20px !important;
                            font-family: OpenSansSemiBold;
                            color: $primary;
                            margin-left: 0px !important;
                            text-align: left;
                            padding-top: 0px!important;
                            @media screen and (max-width: $break-medium){
                                padding-top: 10px !important;
                            }
                            @media screen and (max-width: $break-small){
                                margin-right: 0%;
                            }
                            @media screen and (max-width: $break-xs-small){
                                line-height: 21px;
                                font-size: 18px !important;
                            }
                        }
                        img{
                            margin: 0;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px !important;
                            border-bottom-left-radius: 0px;
                            @media screen and (min-width: $break-medium-ipad) and (max-width: $break-large-medium){
                                width: 40.75% !important;
                                border-top-right-radius: 0px !important;
                            }
                            @media screen and (max-width: $break-medium){
                                border-bottom-left-radius: 0px;
                            }
                        }
                    }
                    span{
                        &.onsale{
                            display: none;
                        }
                        &.price{
                            width: 66%;
                            margin-top: 10px;
                            del{
                                display: none;
                            }
                            ins{
                                text-decoration: none;
                                color: $primary;
                                font-size: 14px;
                                font-family: OpenSansLight;
                            }
                            span{
                                color: $primary;
                                font-size: 14px;
                                &.woocommerce-Price-currencySymbol{
                                    font-family: OpenSansSemiBold;
                                    padding-right: 3px;
                                    font-weight: 400;
                                    font-family: OpenSansSemiBold;
                                    font-size: 16px;
                                    line-height: 19px;
                                }
                            }
                        }
                    }
                    .box-top-right-icon{
                        color: $white;
                    }
                    .banner_block {
                        margin: 0;
                        padding: 0 0 15px !important;
                    }
                    .woocommerce-product-details__short-description{
                        @media screen and (min-width: $break-medium-ipad) and (max-width: $break-large-medium){
                            width: 95%;
                        }
                        @media screen and (max-width: $break-medium){
                            margin: 5px 0px;
                        }
                    }
                    .gridlist-buttonwrap{
                        margin-bottom: 0px;
                        float: left;
                        padding-bottom: 20px;
                        padding-bottom: 0px;
                        @media screen and (min-width: $break-medium-ipad) and (max-width: $break-large-medium){
                            padding-left: 0px;
                        }
                        @media screen and (max-width: $break-medium){
                            margin: 0px;
                        }
                        a{
                            background: $primary;
                            border: 1px solid $primary;
                            transition: all .5s ease;
                            background-color: $primary;
                            color: $white;
                            font-weight: 400;
                            margin-right: 10px;
                            max-height: 32px;
                            @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                                padding: .618em 0.5em;
                                margin-right: 5px;
                            }
                            &:hover{
                                background: $white;
                                background-color: $white;
                                color: $primary;
                            }
                            &.added_to_cart{
                                padding: 5px 10px;
                                border-radius: 3px;
                                display: inline-block;
                                vertical-align: top;
                                margin-top: 1em;
                                margin-right: 0px;
                                @media screen and (min-width: $ipad-portait) and (max-width: $break-medium){
                                    padding: 5px;
                                }
                            }
                        }
                    }
                    .white_bg_block{
                        height: auto;
                    }
                    &:first-child{
                        padding-left: 0px;
                        @media screen and (max-width: $portait-phone){
                            padding-right: 0px;
                        }
                    }
                    &:nth-child(3n){
                        padding-right: 0px;
                        padding-left: 15px;
                        @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        @media screen and (max-width: $portait-phone){
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    &:nth-child(3n+1){
                        padding-left: 0px;
                        padding-right: 15px;
                        @media screen and (max-width: $portait-phone){
                            padding-right: 0px;
                        }
                    }
                    &:nth-child(3n+2){
                        padding-left: 7.5px;
                        padding-right: 7.5px;
                        @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                            padding-left: 15px;
                            padding-right: 0px;
                        }
                        @media screen and (max-width: $portait-phone){
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    &:nth-child(odd){
                        @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                            padding-left: 0px;
                            padding-right: 15px;
                        }
                        @media screen and (max-width: $portait-phone){
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    &:nth-child(even){
                        @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                            padding-left: 15px;
                            padding-right: 0px;
                        }
                        @media screen and (max-width: $portait-phone){
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                    }
                    &.first, &.last{
                        clear: none;
                    }
                }
            }
            &.list{
                li{
                    &.product{
                        width: 100% !important;
                        a{
                            h2{
                                padding-top: 0px !important;
                                margin-right: 10%;
                                @media screen and (max-width: $break-small){
                                    margin-right: 20%;
                                }
                                @media screen and (max-width: $break-xs-small){
                                    margin-right: 25%;
                                }
                            }
                            img{
                                border-top-right-radius: 0px !important;
                                border-bottom-left-radius: 10px !important;
                                @media screen and (max-width: $break-medium){
                                    border-bottom-left-radius: 0px !important;
                                }
                            }
                            span{
                                &.price{
                                    @media screen and (min-width: $break-medium-ipad) and (max-width: $break-large-medium){
                                        margin-left: 40%;
                                        float: none;
                                    }
                                }
                            }
                        }
                        .banner_block {
                            padding: 0 !important;
                        }
                        .woocommerce-product-details__short-description{
                            @media screen and (max-width: $break-medium){
                                float: left;
                                margin: 10px 0 5px 0px;
                            }
                        }
                        .gridlist-buttonwrap{
                            margin-bottom: 0px;
                            float: left;
                            padding-bottom: 20px;
                            @media screen and (max-width: $break-medium){
                                margin: 0px;
                            }
                            @media screen and (min-width: $break-medium-ipad) and (max-width: $break-large-medium){
                                padding-bottom: 10px;
                                width: auto;
                                margin-left: 35%;
                                float: none;
                            }
                        }
                        .white_bg_block{
                            height: auto !important;
                        }
                        &:first-child{
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        &:nth-child(3n){
                            padding-left: 0px;
                            padding-right: 0px;
                            @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                                padding-left: 0px;
                                padding-right: 0px;
                            }
                        }
                        &:nth-child(3n+1){
                            padding-left: 0px;
                            padding-right: 0px;
                        }
                        &:nth-child(3n+2){
                            padding-left: 0px;
                            padding-right: 0px;
                            @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                                padding-left: 0px;
                            }
                        }
                        &:nth-child(odd){
                            @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                                padding-left: 0px;
                                padding-right: 0px;
                            }
                        }
                        &:nth-child(even){
                            @media screen and (min-width: $landscape-phone) and (max-width: $break-medium){
                                padding-left: 0px;
                                padding-right: 0px;
                            }
                        }
                        &.first, &.last{
                            clear: none;
                        }
                    }
                }
            }
        } 
    }
    .woocommerce-pagination{
        float: left;
        width: 100%;
    }
}

// =============================================================================
// Training page
// =============================================================================
.training-form{
    .white_bg_block {
        padding: 15px 25px;
    }
    .gform_wrapper{
        margin-top: 0px;
        form{
            .gform_heading{
                display: none;
            }
            .gform_body{
                .gform_fields{
                    li{
                        &.form_section_title{
                            line-height: 25px;
                            font-size: 20px;
                            font-family: OpenSansRegular;
                            margin-top: 0px;
                            color: $primary;
                            margin-bottom: 30px;
                            @media screen and (max-width: $break-small){
                                margin-bottom: 15px;
                            }
                        }
                        &.gfield{
                            padding-right: 0;
                            min-height: 32px;
                            margin-top: 10px;
                            min-width: 100%;
                            @media screen and (max-width: $break-small){
                                height: auto;
                                margin-top: 10px;
                                float: left;
                                width: 100%;
                            }
                        }
                        &.seprator{
                            border-bottom: 1px solid $light-green;
                            margin-right: 0;
                        }
                        label{
                            line-height: 32px !important;
                            font-family: OpenSansRegular;
                            font-weight: 400;
                            width: 29%;
                            margin-top: 0 !important;
                            @media screen and (max-width: $break-small){
                                width: 100%;
                            }
                        }
                        .ginput_container{
                            width: 70%;
                            display: inline-block;
                            float: right;
                            margin-top: 0;
                            @media screen and (max-width: $break-small){
                                width: 100%;
                                display: block;
                                float: left;
                            }
                            &.ginput_container_date{
                                input{
                                    width: 95%;
                                    @media screen and (max-width: $break-small){
                                        width: 90%;
                                    }
                                }
                            }
                        }
                        .validation_message{
                            &.gfield_description{
                                padding-top: 0px;
                            }
                        }
                    }
                }
            }
            .gform_footer{
                color: $white;
                transition: all .5s ease;
                input[type="submit"]{
                    background: $light-green !important;
                    border: 1px solid $light-green !important;
                    transition: all .5s ease;
                    background-color: $light-green !important;
                    color: $white !important;
                    position: relative;
                    border-radius: 4px;
                    margin-right: 0px;
                    padding: 10px 15px !important;
                    padding-right: 80px !important;
                    height: auto;
                    padding-left: 15px !important;
                    font-family: OpenSansSemiBold;
                    font-size: 17px !important;
                    line-height: 17px;
                    &:hover{
                        color: $light-green !important;
                        background: $white !important;
                        background-color: $white !important;
                    }
                }
                &:after{
                    content: "\f061";
                    color: $white;
                    line-height: 43px;
                    font-family: fontawesome;
                    margin-left: -70px;
                    z-index: 999;
                    position: absolute;
                }
                &:hover{
                    &:after{
                        color: $light-green;
                    }
                }
            }
        }
    }
}

// =============================================================================
// Account page
// =============================================================================
.woocommerce-MyAccount-navigation{
    ul{
        list-style-type: none;
        padding-left: 0;
        li{
            border-bottom: 1px solid $gray;
            padding: 8px 0;
            &:last-child{
                border-bottom: 0;
            }
            a{
                color: $gray;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}

// =============================================================================
// Cart page
// =============================================================================
.woocommerce{
    .woocommerce-cart-form{
        .coupon{
            #coupon_code{
                width: 102px;
                line-height: 18px;
            }
        }
        input{
            &.button{
                padding: 7.5px 8px !important;
            }
        }
    }
    .cart_totals{
        a{
            &.checkout-button{
                background-color: $primary;
                font-weight: normal;
                font-family: OpenSansSemiBold;
                &:hover{
                    background-color: $primary;
                }
            }
        }
    }
}

// =============================================================================
// Custom css for shop and shop detail page
// =============================================================================
body{
    &.post-type-archive-product, &.single-product{
        #page{
            #header, #header + hr{
                display: none;
            }
        }
    }
}

// =============================================================================
// Thank you page
// =============================================================================
.woocommerce-thankyou-order-details{
    &.order_details{
        padding-left: 0;
        margin: 10px 0 !important;
        li{
            display: block;
            width: 100%;
            margin: 5px 0;
            border-right: 0 !important;
        }
    }
}

// =============================================================================
// Event and Event detail page
// =============================================================================
#tribe-events-content-wrapper{
    @media screen and (max-width: $ipad-portait){
        .tribe-events-loop{
            .tribe-events-event-meta{
                background: transparent !important;
                border: 0 !important;
                color: $white !important;
                padding: 0 !important;
                .tribe-events-venue-details{
                    border-top: 0 !important;
                    padding-left: 0 !important;
                }
            }
        }
        .tribe-events-sub-nav{
            li{
                a{
                    @media screen and (max-width: $ipad-portait){
                        color: $primary;
                        background: transparent;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

#tribe-events-content{
    &.tribe-events-single{
        .tribe-events-schedule{
            background: transparent;
            border: 0;
            margin: 18px 0;
            padding: 0;
        }
        .tribe-events-sub-nav{
            li{
                a{
                    @media screen and (max-width:$ipad-portait){
                        color: $primary;
                        background: transparent;
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

// =============================================================================
// Checkout register page
// =============================================================================
.checkout{
    &.woocommerce-checkout{
        .woocommerce-account-fields{
            label{
                &.checkbox{
                    .input-checkbox{
                        margin-top: 5px;
                    }
                    span{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

// =============================================================================
// Expert detail page
// =============================================================================
.expert_section{
    .title{
        display: block;
        color: $primary;
        float: left;
        width: 100%;
        h1{
            font-family: OpenSansSemiBold;
            display: inline-block;
            float: left;
            margin-bottom: 5px;
            font-size: 24px;
            line-height: 29px;
            @media screen and (max-width: $break-medium){
                display: block;
                width: 100%;
            }
        }
        .post{
            font-family: OpenSansLight;
            position: relative;
            font-size: 23px;
            line-height: 40px;
            display: inline-block;
            float: left;
            @media screen and (max-width: $break-medium){
                display: block;
                width: 100%;
                font-size: 17px;
                line-height: 26px;
            }
            @media screen and (min-width: $break-medium-ipad){
                &:before{
                    content: '|';
                    color: $primary;
                    margin: 0 5px;
                    font-size: 23px;
                    line-height: 40px;
                }
            }
        }
    }
    .telephone, .email{
        a{
            font-family: OpenSansLight;
            font-size: 17px;
            line-height: 23px;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
    }
    .social_media{
        float: left;
        width: 100%;
        padding: 10px 0;
        ul{
            display: block;
            margin-left: 0;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li{
                display: inline-block;
                margin-right: 10px;
                font-size: 20px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    &:hover, &:focus{
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .into_text{
        float: left;
        width: 100%;
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 30px;
        p{
            font-size: 17px;
            line-height: 23px;
            font-family: OpenSansLight;
        }
    }
    .contact_section{
        width: 100%;
        float: left;
        margin-bottom: 20px;
        .title{
            h3{
                color: $primary;
                margin: 0 0 12px 10px;
            }
        }
        .choose_training_area{
            @media screen and (min-width: $break-xs-small) and (max-width: $break-small){
                max-width: 400px;
            }
            .banner_content{
                margin-top: 5px;
                ul{
                    margin-left: 0;
                    padding-left: 18px;
                    li{
                        a{
                            color: $black !important;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .recent_blogs_section{
        width: 100%;
        float: left;
        .title{
            h3{
                color: $primary;
                margin: 0 0 12px 10px;
            }
        }
        .choose_training_area{
            @media screen and (min-width: $break-xs-small) and (max-width: $break-small){
                max-width: 400px;
            }
            .banner_content{
                ul{
                    list-style: none;
                    padding-left: 10px;
                    li{
                        margin-bottom: 20px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        a{
                            font-family: OpenSansBold;
                            color: $black !important;
                            cursor: pointer;
                            &:hover{
                                text-decoration: none !important;
                            }
                        }
                        .blog_details{
                            .intro{
                                position: relative;
                                .date{
                                    color: $gray;
                                    font-size: 14px;
                                    display: inline-block;
                                    float: left;
                                    &:after{
                                        content: '|';
                                        color: $gray;
                                        font-size: 14px;
                                        margin: 0 3px;
                                    }
                                }
                                .content{
                                    p{
                                        display: inline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .expert_image{
        img{
            margin: 0 auto;
            position: fixed;
            max-width: 235px;
        }
    }
}
/* page sepcific - background white only for this page */
body{
    .fixed-container-wrapper{
        &.expert-detail-page{
            background: $white;
        }
    }
}